In [1]:
import pandas as pd; import numpy as np; import os;import random;import time;

In [2]:
import random; import gzip;

# Explorar geo datos de llamados (Voice)
en un principio si los datos no son geolocalizados por antena no puedo saber quien llamo a la zona endemica. El objetivo es ver...

* como se compone la base de datos
* que sirve para el analisis de la mobilidad y del "Gran Chaco"
* haria falta tambien tener el .cpp que asigna home a cada user

In [3]:
np.random.seed(2015)

In [10]:
##setting general params
rootdir="/home/juan/mobility-study"
os.chdir(rootdir)
directory = "0315"; contract_type="Prepago";
day_streak="03-04"
input_file= 'datosgeo/%s/%s/Geo_Voz_%s_%s%s.txt.gz' % (directory,contract_type,contract_type,day_streak,directory)

In [16]:
input_file

'datosgeo/0315/Prepago/Geo_Voz_Prepago_03-040315.txt.gz'

In [11]:
!ls datosgeo/0315/Prepago/

Geo_Voz_Prepago_01-020315.txt.gz  Geo_Voz_Prepago_17-180315.txt.gz
Geo_Voz_Prepago_03-040315.txt.gz  Geo_Voz_Prepago_19-200315.txt.gz
Geo_Voz_Prepago_05-060315.txt.gz  Geo_Voz_Prepago_21-220315.txt.gz
Geo_Voz_Prepago_09-100315.txt.gz  Geo_Voz_Prepago_23-230315.txt.gz
Geo_Voz_Prepago_11-120315.txt.gz  Geo_Voz_Prepago_25-260315.txt.gz
Geo_Voz_Prepago_13-140315.txt.gz  Geo_Voz_Prepago_27-280315.txt.gz
Geo_Voz_Prepago_15-160315.txt.gz  Geo_Voz_Prepago_29-310315.txt.gz

In [14]:
!zcat $input_file | head - n10

==> standard input <==
CONTRATO	TELEFONO	ORIGEN	DESTINO	DIRECCION	DURACION_SEGUNDOS	UBICACIONCIUDAD	LATITUD	LONGITUD	OPERADOR	FECHA_LLAMADA
	00000B984B91C296144E8434BB08D508	00000B984B91C296144E8434BB08D508	5E6693E9FBF7E6F541DE2D17A771E443	ENTRANTE	152				IUSACELL          	03/03/2015 05:55:15 a.m.
	00000C5D3BFBEBD919F6F68386C3DD5E	00000C5D3BFBEBD919F6F68386C3DD5E	0A8D39BFACCA596573FA1371E02A4EF2	ENTRANTE	116		15.85830556	-97.04511111	IUSACELL          	04/03/2015 08:16:16 a.m.
	000011F2BE4C5E7D456026CD791185B3	000011F2BE4C5E7D456026CD791185B3	00F0D512BCD00EC7B9C666ECA0B645C3	ENTRANTE	19	Mexicali	32.574342	-115.352511	UNEFON            	04/03/2015 06:05:47 p.m.
	00001228A0D38FB8D81365EDAB963130	00001228A0D38FB8D81365EDAB963130	106BD5A02DE8DADBE6DAF2E82EED04DE	ENTRANTE	187		20.73645278	-103.4314972	UNEFON            	03/03/2015 05:05:32 p.m.
	0000129F4191FFD0963774D2307C7510	0000129F4191FFD0963774D2307C7510	B55022400C295828668E644CFDA58425	ENTRANTE	46	Tehuacan	18.45369522	-97.40105726	UNEFON            	04/03/2015 02:08:59 p.m.
	0000129F4191FFD0963774D2307C7510	0000129F4191FFD0963774D2307C7510	D3E9BDC02EF826B7BB9E01B6F3EC00BC	ENTRANTE	11		18.4889	-97.3836	UNEFON            	03/03/2015 01:09:30 p.m.
	00001ADC8C5705AB4FD8197B5024C1AA	00001ADC8C5705AB4FD8197B5024C1AA	56A4A3222955712FA7FAD539708013B0	SALIENTE	73		17.85156525	-97.82741882	TELMEX            	03/03/2015 07:34:11 p.m.
	00001ADC8C5705AB4FD8197B5024C1AA	00001ADC8C5705AB4FD8197B5024C1AA	D85D1DC9C58EB1C83D3D63A35E9FDD86	SALIENTE	14		17.85156525	-97.82741882	IUSACELL          	04/03/2015 06:59:54 p.m.
	00001ADC8C5705AB4FD8197B5024C1AA	00001ADC8C5705AB4FD8197B5024C1AA	D85D1DC9C58EB1C83D3D63A35E9FDD86	SALIENTE	16		17.85156525	-97.82741882	IUSACELL          	04/03/2015 08:06:36 p.m.
head: cannot open `n10' for reading: No such file or directory

gzip: stdout: Broken pipe

In [33]:
pd.read_csv?

In [106]:
tabla_mensual = pd.read_csv(
                input_file,
                delim_whitespace=True,
                #sep = "\t",
                names = ['Telefono','Target','Destination','Direction','Duration',
                         'City','Latitude','Longitude','Operator','Date1','Date2','Date3'],
                engine = 'c', lineterminator='\n', skipinitialspace=True,
                index_col=False,
                skiprows = 2,
                #usecols = ['Latitude','Longitude']
    #dtype = {'Target':np.uint32,'Destination':np.uint32,'TimeStamp':np.uint32,
     #                                 'Duration':np.uint16,'AntennaID':np.uint16,'Direction':np.object_}
                )

In [107]:
tabla_mensual.drop(['Telefono','Direction','Duration','Operator','Date1','Date2'],inplace=True,axis=1)

In [108]:
#tratamos de castear los valores de una series a cosas numericas y sino devolvemos False
def try_int_cast(x):
    try: 
        float(x)
        return True
    except:
        return False

In [109]:
buff = tabla_mensual.ix[tabla_mensual['Date3'].isnull()]
#buscamos todas aquellas filas que no podemos castear a 
buff2 = buff[~buff['City'].apply(lambda x: try_int_cast(x))]

In [110]:
tabla_mensual.drop(buff2.index.values,inplace=True,axis=0)

In [118]:
#guardo los valores a reemplazar
buff = tabla_mensual.ix[tabla_mensual['Date3'].isnull(),['City','Latitude']]

In [121]:
#hago el reemplazo en ese indice
indice = tabla_mensual.ix[tabla_mensual['Date3'].isnull()].index.values

In [129]:
#el .values es crucial. Si no esta, va a tratar de igualar los valores basandose en indice. En cambio
#el .values tira los indices y lo ve com una "matriz" pura sin labels.
tabla_mensual.loc[indice,['Latitude','Longitude']]= buff.values

In [125]:
buff.sample(100)

                City      Latitude
4307647  18.45705867  -95.35011002
2175989  18.64722222       -98.605
8792634      20.5478     -100.8228
4878816  19.26988757  -99.65918728
5971496    19.085767    -98.199828
790427     20.096808    -98.751367
8937487  18.54232306  -92.65082833
4004321  14.68219444  -92.15552778
3213375  25.67732778  -100.3189194
5684929  20.50982306  -87.23321139
4824330    19.020333   -102.079414
4135497       22.123  -100.9202222
711216        19.785      -97.3502
6677988  19.04622222  -100.0648056
4889027   19.5366735  -96.93734256
61331        20.0686      -97.0587
9652408  19.28263514   -98.4443496
8670077  16.86694444  -99.90416667
3625137  19.28428056  -99.53027778
4558884  19.29138819  -99.16139154
5272305  21.28063889  -101.8373056
1719346    19.621458    -99.037744
7562382  19.47184722  -99.22673056
6211162  20.54722222  -102.4719444
516885     18.511553    -95.317167
3607948    18.031111    -93.811917
3671522  20.68728417  -88.20532056
7791657  19.34488889  -102.3651667
6723073      20.7135  -103.4241667
1679468  20.68728417  -88.20532056
...              ...           ...
5275592  19.32799581  -99.25940692
5791822  19.59083333  -96.94027778
70227    19.34488889  -102.3651667
2873196  18.87172222  -96.35163889
762687     19.292105    -99.149549
9956496  18.87036111  -97.71630556
813483   25.74723443  -100.3599154
2170548   18.1078866  -96.09936061
2622968     19.57175  -99.76602778
9493974    16.922194    -99.962556
7801715      20.6528  -103.4522278
3682666    19.000639    -98.214028
2047     20.66936111  -103.2557222
6261839  18.87763889  -96.75305556
687683   20.54405556  -100.6920556
2141718  20.14332385  -101.1952751
3989538  16.89138889  -99.83416667
7698581  17.59111111  -99.09277778
6314120       20.045  -102.2827778
288709   20.67341667  -103.2816944
421673     14.870769    -92.285564
3303490  19.65924722  -99.12539167
3018350  18.36548333  -95.76816111
811301     20.050206    -98.740094
9021468  19.03669444  -98.14411111
3936308  17.43011139  -93.36741306
330064   22.06531586   -100.649197
5277682  17.98032778  -93.38234722
3949309  20.61744722  -103.2474056
947599     19.616239    -99.185069

[100 rows x 2 columns]

In [130]:
tabla_mensual.sample(100)

,Target,Destination,City,Latitude,Longitude,Date3
3714794,5C28E3B10F2E5C377BA61A4095700418,C89D73B52F04CF3A18B56E15396D7BF2,Del,Miguel,Hidalgo,04/03/2015
1208769,1DD85CC71801A1B48836C01C747FCE54,81A07EB44B8820AB281C99FD8FD2BBD9,Del,Tlahuac,19.295068,05:45:58
5652957,8C3CCB4D8CA3AD3BB481E7BD12E3F727,A41D9AC8E356B84EEC8E24E0F40E27E6,20.023511,20.023511,-98.8413,NaN
7806954,C190852CF77278E8EB3F95391FF1EDA0,54A28B1DA237B0EBAA2A17C4DD4EB70C,Salina,Cruz,16.1897,01:20:41
6138282,983ACB6546F8F6BB3F25BC1CF1350A28,A417C47E2BAF014220894E39A233394D,Chimalhuacan,19.3865,-98.914194,p.m.
9955551,F6B598A8AA63C8EA4435CABC0C1E6B1B,8F6A45BC5519F981968A47C9DC634AE0,Del,Iztacalco,19.38847,10:36:46
10028510,F881B75551261C0E7ECAB1E9B9630136,B830CDFF47BD68330491B0162A2FBA8A,19.42677799,19.42677799,-99.10868169,NaN
2339455,39F62DBA070C39B884065AB2DC895FD3,3C3AD6AF30989DF88339A0EE0DDF5C95,18.95805556,18.95805556,-98.23888889,NaN
1169213,1CDFA83FB2AD2A6AF6E16FE23277A53E,6C22E3691A17816F4A5E7134996BF077,Del,Venustiano,Carranza,04/03/2015
6912701,AB5CCB9B9DB6674149A499BF839BF853,5FCF8AF473C828D4A9B50B2B4064E62A,17.46747222,17.46747222,-97.21580556,NaN
977859,1822C8C835F186491FCCEC40D12F0238,9C65FDB3C7BCA7C502E4D2E91B922E4B,Temoaya,19.46221111,-99.59683056,p.m.
2670424,42220A9E527C6B98FB1E7CD85CD022E4,80B96E684CEEBCB7C9C022AF168B88E7,19.36570556,19.36570556,-99.19762222,NaN
6494249,A116890F9C67295CD158D09E4BE2C796,C6E85C4D50DF978511C7099F7D232C32,Tepeji,del,Rio,03/03/2015
34968,00DA166C3D058B440D8EFBD89221724B,F7EFA33135DF23ADEAF3A9AC0FD7F22C,Del,Miguel,Hidalgo,03/03/2015
2254087,37E196EFC52AE73D1DC35BACF4ACCA04,C2EA29E2921C7A3E9EC435027874C34E,17.85156525,17.85156525,-97.82741882,NaN
5817016,904D9A0E485D0B33215CCB01069557C6,10FDA01C9255C726F7D0EDBDABCD3CC5,19.81722222,19.81722222,-97.35833333,NaN
7609214,BCAE109572030AC916C27B422229EF3D,A958DA5C4103B07637816BA6C93D1B19,Dolores,Hidalgo,21.1622,06:56:52
5583337,8A778ABDDEE40E4FCF8F8410D0249509,792A40E72A23378A801AE602250773AC,18.97655556,18.97655556,-97.79766667,NaN
1381190,2221C8D875A3067F896F36073ABD83E2,EE8C4D82C541B2520C5B236CFB2EA1BD,Ecatepec,19.52527778,-99.07316667,p.m.
7961837,C567E84851EE05FA4E88E7BCE57C77E8,F0BCE58C3275A01BCF716B32B0BB14EF,18.36548333,18.36548333,-95.76816111,NaN
343958,087DA3D6472252A2E378F967D3A93668,B3DD282212079633E92DF3C0324875BA,20.29388889,20.29388889,-97.95447222,NaN
3914091,610B911D8D0E038C256FD603257187A1,DA1447FF30FD61C9AD8F2B6649B40E17,19.616239,19.616239,-99.185069,NaN
1773778,2BF01A65A36937AA99D5BF8AD2A08861,28CABABBAD2F50824907EC60C888CDBB,Ecatepec,19.646872,-99.064253,a.m.
5766161,8F04A80E33D449266211608331BA5956,92A58414811E50787CC405BFEA92F6FB,Tapalpa,19.938592,-103.761203,p.m.
1888140,2ECC16A151C4A7A41862118BEBCF88AD,E10C811993EAA885CC6D748F54DBF86D,20.08058507,20.08058507,-98.36244971,NaN
5063185,7D8065DD5BDA219A63BC88E25A71A334,CCBCF7C0BC0EAB89C7994EE60DC42F36,16.74158333,16.74158333,-95.09422222,NaN
7987868,C6166C5320397EC35E7DEE68D68A3DF5,2DFB08C64080A68FD9EA6D3A63499E5D,Chicoloapan,19.403225,-98.92703056,a.m.
1297889,200B07CE4822385562279DE447B7D65B,B6F51EAFED48CE129F5B04B8CB9CA65D,Chalco,19.300106,-98.948692,a.m.
126342,0329984128898F61EC5C810477503F76,C781FB3E7B348ADE122E12BEC9DDFAA9,Del,Iztapalapa,19.348417,07:21:29
5501298,88766FDDF94C6BCA90EB95484E317A6C,22594217CE3D6AC89D8726096179C263,17.95936486,17.95936486,-102.1992935,NaN
...,...,...,...,...,...,...
2254670,37E49668D50E585150163D09F743B5ED,FA6A2B6DE8E2AD9545093447402E280F,Garcia,25.79531667,-100.5861944,p.m.
4790393,76C0151DAF6AB2A83CFEEA1B43D90B36,3728EB0A99C8D3E7315F55E738622D07,Del,Iztacalco,19.41575,02:43:31
2983693,49EA31E2309546788D0CE6D7C0F4E773,CA54EEF8F05E3EBC396E7E199ABF2E51,19.27791667,19.27791667,-99.64430556,NaN
1415998,23011EF1F30F61430EBA19D8E94C907F,FC226C9E0E41CD8482C64077C1047838,Tecamac,19.659722,-99.0065,p.m.
9374483,E8560717CA742FC01302FDEE207953A1,EE571D150C358B01A191A1EE1FF34373,Torreon,25.53583333,-103.4475,p.m.
4547544,70CE6245C6489A222D4DF382B7DB431F,C410B5CC6C996CB1DC527869C34B6630,Del,Tlalpan,19.214444,06:27:52
4393328,6CF63660B02E83925FE06CD352123C06,18AA70D5A4971A804E7E3BBDE2B18CC2,20.191028,20.191028,-99.272589,NaN
3381154,53DE55B6A697426EDD4F508FA3364428,809F72144746116C32B761C23698871F,Monterrey,25.571069,-100.241078,p.m.
6490624,A0FFAF50D0677D3BFA7939674C2141C2,CC40CEADC4B493E6AD13C7BBCA810415,19.73450556,19.73450556,-98.96965833,NaN
803370,13CEE8267C0C192C4CE9DAA70D8EBCD1,513AA9AD47020D86C80D1B91CBE59CAB,Del,Xochimilco,19.26392879,11:01:21
2659971,41DF84343B61DA9D73324C7C9D531FAF,8D6ADFABA3D9048E6211FC279B4A4C32,Teziutlan,19.785,-97.3502,p.m.
6417289,9F2117B8A06156853D64026754F6D5AB,D5083C117D8E553292E30CF3FBB79869,Lerma,19.32868333,-99.46083333,a.m.
1492869,24E9332FED923CD594D7AFD2B9A8E11C,34FE3C050A760E8BBDA12F32333E9CF4,19.66879444,19.66879444,-99.08935833,NaN
1188063,1D4EDB4574509F0C88F4A20872AD3E7B,6FA5B37E92117A5BB7A05A8A2902A4A3,19.49283333,19.49283333,-99.12143889,NaN
8640677,D63DFB55B54E3CD88C2FA0D3C4027011,C16F0B9D52691C82FE9EA7FDC31D427B,Villa,Hermosa,17.97645389,04:58:31
4711204,74D4C2EB2AE93CEADE42F37F938B5E57,5C0CC6FB8713A555DB00B36757BC365A,San,Luis,Potosi,03/03/2015
3373567,53AB81F5256C056E2B49714653845A29,6FCE303B2DCA40C410DA3EFFC07A0F16,20.1174,20.1174,-98.3413,NaN
2469368,3D38FBF697D2D5CE5633C99E9EE20196,22E075A23B3FA7F2BCCB7E49EFFC748A,17.0549223,17.0549223,-96.71952477,NaN
221979,0584529E3DD449979F9CC526DAC543E8,87443B88E047EC6016C013440BAAB066,Nicolas,Romero,19.60333056,07:53:35
3072894,4C2ACBA13DCB568A7E61EBCA7061C8B9,820A48EE55F1DB3033F72E3AF3E376F7,Cuautitlan,Izcalli,19.67105477,10:35:20
1733974,2AF4FBF2F175AF24A499E5C37824FBD1,9D70EB873B5EDFBAEDE1E2D3897ABDB0,Puebla,19.008944,-98.200778,p.m.
3016589,4AC222B0ECE66BD65F6594DE518B4A49,BEAFD0FF200EBBD2C5523EA9742139D6,Del,Cuauhtemoc,19.432414,11:09:36
1663810,2929ADDFB3DE446FD4CCFB7B6A761A33,7264D0211D3F6F3003D8EE0F0954D457,Del,Alvaro,Obregon,03/03/2015
8613089,D588D9847270BC8A83BD854492274C31,99E878DE102E424E5B0B58D2A9CB2371,Del,Miguel,Hidalgo,03/03/2015
6920469,AB8A52EAEC0780D25FB80334E0B10DA9,CBD8D7A0E1159AC8B261F4CEB9722588,18.36666667,18.36666667,-100.6819444,NaN
1986625,314578F7ABFA58C427BC0A0136320DAA,4D7854616ACB315F27B0987F7C548D38,19.36683333,19.36683333,-99.09580556,NaN
7241985,B38EF52F39BD1C3E120CE9AC5F34B4E6,6AED162F60E5734517D3A5B7DEE1662B,Naucalpan,19.4941,-99.308,a.m.
6551062,A281580964AF8837E3BDF1CB3EC1E13F,A0190C278083414D9DFDC858AA98D041,16.902194,16.902194,-92.096694,NaN
9524825,EC0E605280A9A6872314638653E5BE9E,3DEFFC0F469A922ADEDEC611C5887A36,Acolman,19.64630556,-98.89138889,p.m.
3259893,50E2183EDEB55825D090100D1D950DB4,F6F4B559BCD0719E99E06E773B48FD1E,Chimalhuacan,19.4308,-98.9581,p.m.

In [78]:
try: 
    int(buff2.loc[10328051].City)
except""

'UNEFON'

In [64]:
tabla_mensual.head()

,Target,Destination,City,Latitude,Longitude,Date3
0,00000C5D3BFBEBD919F6F68386C3DD5E,0A8D39BFACCA596573FA1371E02A4EF2,15.85830556,-97.04511111,NaN,NaN
1,000011F2BE4C5E7D456026CD791185B3,00F0D512BCD00EC7B9C666ECA0B645C3,Mexicali,32.574342,-115.352511,p.m.
2,00001228A0D38FB8D81365EDAB963130,106BD5A02DE8DADBE6DAF2E82EED04DE,20.73645278,-103.4314972,NaN,NaN
3,0000129F4191FFD0963774D2307C7510,B55022400C295828668E644CFDA58425,Tehuacan,18.45369522,-97.40105726,p.m.
4,0000129F4191FFD0963774D2307C7510,D3E9BDC02EF826B7BB9E01B6F3EC00BC,18.4889,-97.3836,NaN,NaN

In [50]:
tabla_mensual.columns[5:-1]

Index([u'City', u'Latitude', u'Longitude', u'Operator', u'Date1', u'Date2'], dtype='object')

,Telefono,Target,Destination,Direction,Duration,City,Latitude,Longitude,Operator,Date1,Date2,Date3
0,00000C5D3BFBEBD919F6F68386C3DD5E,00000C5D3BFBEBD919F6F68386C3DD5E,0A8D39BFACCA596573FA1371E02A4EF2,ENTRANTE,116,15.85830556,-97.04511111,NaN,04/03/2015,08:16:16,a.m.,NaN
1,000011F2BE4C5E7D456026CD791185B3,000011F2BE4C5E7D456026CD791185B3,00F0D512BCD00EC7B9C666ECA0B645C3,ENTRANTE,19,Mexicali,32.574342,-115.352511,UNEFON,04/03/2015,06:05:47,p.m.
2,00001228A0D38FB8D81365EDAB963130,00001228A0D38FB8D81365EDAB963130,106BD5A02DE8DADBE6DAF2E82EED04DE,ENTRANTE,187,20.73645278,-103.4314972,NaN,03/03/2015,05:05:32,p.m.,NaN
3,0000129F4191FFD0963774D2307C7510,0000129F4191FFD0963774D2307C7510,B55022400C295828668E644CFDA58425,ENTRANTE,46,Tehuacan,18.45369522,-97.40105726,UNEFON,04/03/2015,02:08:59,p.m.
4,0000129F4191FFD0963774D2307C7510,0000129F4191FFD0963774D2307C7510,D3E9BDC02EF826B7BB9E01B6F3EC00BC,ENTRANTE,11,18.4889,-97.3836,NaN,03/03/2015,01:09:30,p.m.,NaN

In [10]:
#para ver valores unicos lo transformamos a un conjunto
set(tabla.OPERADOR.values)

{nan,
 'ALESTRA           ',
 'AVANTEL           ',
 'AXTEL             ',
 'BESTEL            ',
 'BESTPHONE         ',
 'CABLECOM          ',
 'CABLEMAS          ',
 'IP MATRIX         ',
 'IUSACELL          ',
 'IUSATEL           ',
 'MARCATELCOM       ',
 'MAXCOM            ',
 'MEGA CABLE        ',
 'MEGACABLE (MCM)   ',
 'METRORED          ',
 'MOVISTAR          ',
 'NO IDENTIFICADO   ',
 'OPCOM             ',
 'OPERBES           ',
 'PROTEL I-NEXT     ',
 'PROTELOP          ',
 'TELCEL            ',
 'TELECABLE         ',
 'TELEFONICA        ',
 'TELMEX            ',
 'TELNOR            ',
 'TOTAL PLAY        ',
 'UNEFON            '}

## Obs.
* estan cambiadas las columnas ORIGEN y DESTINO 
* CONTRATO es todo NaNs
* OPERADORA y DURACION_SEGUNDOS no aportan info,

In [14]:
tabla.columns

Index([u'TELEFONO', u'DESTINO', u'ORIGEN', u'DIRECCION', u'UBICACIONCIUDAD',
       u'LATITUD', u'LONGITUD', u'OPERADOR', u'FECHA_LLAMADA'],
      dtype='object')

In [14]:
tabla.shape

(7860676, 7)

In [10]:
tabla.rename(columns={'ORIGEN': 'DESTINO', 'DESTINO': 'ORIGEN'},inplace=True);
#aunque suene extranyo tambien voy a tirar la columna ubicacion/ciudad porque tiene muchos NaNs y 
#porque solo miro la info a nivel 'departamental'
tabla.drop(['CONTRATO','OPERADOR','DURACION_SEGUNDOS','UBICACIONCIUDAD'],axis=1,inplace=True)

In [13]:
#chequeo si hay info faltante
tabla[pd.isnull(tabla).any(axis=1)]
#resulta que hay como 600k de casi 8M

,TELEFONO,DESTINO,ORIGEN,DIRECCION,LATITUD,LONGITUD,FECHA_LLAMADA
26,0000A5ECB320A23C19A91C515A51F04D,0000A5ECB320A23C19A91C515A51F04D,C2430855E8747E6F08EB709DE21FED58,ENTRANTE,NaN,NaN,03/01/2015 08:09:34 a.m.
27,0000A5ECB320A23C19A91C515A51F04D,0000A5ECB320A23C19A91C515A51F04D,C2430855E8747E6F08EB709DE21FED58,ENTRANTE,NaN,NaN,03/01/2015 06:06:42 a.m.
28,0000A5ECB320A23C19A91C515A51F04D,0000A5ECB320A23C19A91C515A51F04D,F687EB84F1786572AF0CC7C4BA1047D8,ENTRANTE,NaN,NaN,03/01/2015 06:03:35 a.m.
353,0001A6980837058FD3819ED9236C4682,0001A6980837058FD3819ED9236C4682,57A17524BF266EEAA7AA425BDB58EC23,ENTRANTE,NaN,NaN,03/01/2015 06:42:18 p.m.
354,0001A6980837058FD3819ED9236C4682,0001A6980837058FD3819ED9236C4682,78F6B0001B8E7F3DCCFC573385A2F54D,ENTRANTE,NaN,NaN,04/01/2015 05:19:30 p.m.
355,0001A6980837058FD3819ED9236C4682,0001A6980837058FD3819ED9236C4682,78F6B0001B8E7F3DCCFC573385A2F54D,ENTRANTE,NaN,NaN,04/01/2015 09:15:42 p.m.
356,0001A6980837058FD3819ED9236C4682,0001A6980837058FD3819ED9236C4682,78F6B0001B8E7F3DCCFC573385A2F54D,ENTRANTE,NaN,NaN,04/01/2015 09:16:47 p.m.
357,0001A6980837058FD3819ED9236C4682,0001A6980837058FD3819ED9236C4682,78F6B0001B8E7F3DCCFC573385A2F54D,ENTRANTE,NaN,NaN,04/01/2015 09:15:07 p.m.
358,0001A6980837058FD3819ED9236C4682,0001A6980837058FD3819ED9236C4682,B1475C3F83AA1CC6E5969CED45F6EBE9,ENTRANTE,NaN,NaN,03/01/2015 07:04:33 p.m.
362,0001B96F3892319D191BCEEAE0AD48DD,0001B96F3892319D191BCEEAE0AD48DD,70C00DE41AB64A5720E59BDB6BE0BC05,ENTRANTE,NaN,NaN,04/01/2015 10:04:14 a.m.
413,0002211BBDB2F20A6A3704EE8308E8CD,0002211BBDB2F20A6A3704EE8308E8CD,A8008C250D02D658BAD98B685BA8DA11,ENTRANTE,NaN,NaN,03/01/2015 10:35:17 p.m.
414,0002211BBDB2F20A6A3704EE8308E8CD,0002211BBDB2F20A6A3704EE8308E8CD,C69027AA23CB30894A53C2E96CB500C4,ENTRANTE,NaN,NaN,03/01/2015 04:42:07 p.m.
415,0002211BBDB2F20A6A3704EE8308E8CD,0002211BBDB2F20A6A3704EE8308E8CD,C69027AA23CB30894A53C2E96CB500C4,ENTRANTE,NaN,NaN,03/01/2015 10:44:19 a.m.
416,0002211BBDB2F20A6A3704EE8308E8CD,0002211BBDB2F20A6A3704EE8308E8CD,E1ACBE412F93597289567A683D9F0F8A,ENTRANTE,NaN,NaN,04/01/2015 10:40:05 a.m.
417,0002211BBDB2F20A6A3704EE8308E8CD,0002211BBDB2F20A6A3704EE8308E8CD,E1ACBE412F93597289567A683D9F0F8A,ENTRANTE,NaN,NaN,03/01/2015 02:29:05 p.m.
418,0002211BBDB2F20A6A3704EE8308E8CD,0002211BBDB2F20A6A3704EE8308E8CD,E1ACBE412F93597289567A683D9F0F8A,ENTRANTE,NaN,NaN,03/01/2015 11:15:32 a.m.
419,0002211BBDB2F20A6A3704EE8308E8CD,0002211BBDB2F20A6A3704EE8308E8CD,FAE4219CAE9D8F30B72BCB7BF99A5D3F,ENTRANTE,NaN,NaN,04/01/2015 12:39:23 p.m.
420,0002211BBDB2F20A6A3704EE8308E8CD,0002211BBDB2F20A6A3704EE8308E8CD,FAE4219CAE9D8F30B72BCB7BF99A5D3F,ENTRANTE,NaN,NaN,04/01/2015 08:45:56 a.m.
430,00023355F4DA77D8BBA6C2D036AB5A54,00023355F4DA77D8BBA6C2D036AB5A54,NaN,ENTRANTE,NaN,NaN,04/01/2015 02:01:23 p.m.
431,00023355F4DA77D8BBA6C2D036AB5A54,00023355F4DA77D8BBA6C2D036AB5A54,NaN,ENTRANTE,NaN,NaN,04/01/2015 01:47:58 p.m.
432,00023355F4DA77D8BBA6C2D036AB5A54,00023355F4DA77D8BBA6C2D036AB5A54,NaN,ENTRANTE,NaN,NaN,04/01/2015 01:28:23 p.m.
433,00023355F4DA77D8BBA6C2D036AB5A54,00023355F4DA77D8BBA6C2D036AB5A54,NaN,ENTRANTE,NaN,NaN,04/01/2015 02:25:21 p.m.
470,000295332E82ABF16A79F7CB0A7B987A,000295332E82ABF16A79F7CB0A7B987A,1F79850EAB29B4FC60BABE17D66E3C1C,ENTRANTE,NaN,NaN,04/01/2015 05:59:15 p.m.
478,0002A5415C55E5AFC7F6DC8D5CE35DA2,0002A5415C55E5AFC7F6DC8D5CE35DA2,3D2D6AD75153A452E301D4D01C45FFF2,ENTRANTE,NaN,NaN,04/01/2015 09:31:56 p.m.
479,0002A5415C55E5AFC7F6DC8D5CE35DA2,0002A5415C55E5AFC7F6DC8D5CE35DA2,3D2D6AD75153A452E301D4D01C45FFF2,ENTRANTE,NaN,NaN,03/01/2015 07:43:38 p.m.
480,0002A5415C55E5AFC7F6DC8D5CE35DA2,0002A5415C55E5AFC7F6DC8D5CE35DA2,3D2D6AD75153A452E301D4D01C45FFF2,ENTRANTE,NaN,NaN,04/01/2015 06:32:35 p.m.
490,0002E8A1E262FEFF4C59EFD4390706BA,0002E8A1E262FEFF4C59EFD4390706BA,263BAA568380C2062565AAD57E05005D,ENTRANTE,NaN,NaN,04/01/2015 07:45:54 p.m.
527,00031FC14B85DA22CFDEE6316F8DCCC8,00031FC14B85DA22CFDEE6316F8DCCC8,6A4A89791A869A7E517B74732F9F56E4,ENTRANTE,NaN,NaN,04/01/2015 07:05:18 p.m.
528,00031FC14B85DA22CFDEE6316F8DCCC8,00031FC14B85DA22CFDEE6316F8DCCC8,EB702A93A472C6D7680E4F6DF4B9089B,ENTRANTE,NaN,NaN,04/01/2015 05:22:53 p.m.
529,00031FC14B85DA22CFDEE6316F8DCCC8,00031FC14B85DA22CFDEE6316F8DCCC8,NaN,ENTRANTE,NaN,NaN,03/01/2015 05:58:30 p.m.
...,...,...,...,...,...,...,...
7860241,FFFD0D44D53EBEF546329ED1414A9D1A,FFFD0D44D53EBEF546329ED1414A9D1A,21612D5F4DB99092B0E8C7B4CDD7AC46,ENTRANTE,NaN,NaN,03/01/2015 02:40:41 p.m.
7860319,FFFDBE92252414A3966ED9032951551F,FFFDBE92252414A3966ED9032951551F,4504C1C4B938B44060B8FE9D6A29762B,ENTRANTE,NaN,NaN,03/01/2015 06:54:15 p.m.
7860324,FFFDF8CE915CF7D7ED73B992BD64B52B,FFFDF8CE915CF7D7ED73B992BD64B52B,37072A9B38860B7383661DFBAB0D5E7B,ENTRANTE,NaN,NaN,04/01/2015 03:06:18 p.m.
7860325,FFFDF8CE915CF7D7ED73B992BD64B52B,FFFDF8CE915CF7D7ED73B992BD64B52B,6EDA1E458ACA5E54AEFDE8C6A43D51BC,ENTRANTE,NaN,NaN,03/01/2015 03:29:50 p.m.
7860326,FFFDF8CE915CF7D7ED73B992BD64B52B,FFFDF8CE915CF7D7ED73B992BD64B52B,BB69D32ADCA9CB6B0C50BB61B7438A8D,ENTRANTE,NaN,NaN,04/01/2015 03:27:09 p.m.
7860327,FFFDF8CE915CF7D7ED73B992BD64B52B,FFFDF8CE915CF7D7ED73B992BD64B52B,BB69D32ADCA9CB6B0C50BB61B7438A8D,ENTRANTE,NaN,NaN,04/01/2015 03:27:35 p.m.
7860328,FFFDF8CE915CF7D7ED73B992BD64B52B,FFFDF8CE915CF7D7ED73B992BD64B52B,BB69D32ADCA9CB6B0C50BB61B7438A8D,ENTRANTE,NaN,NaN,03/01/2015 04:10:07 p.m.
7860423,FFFE660BA1556BA6D79ED1DB7760D526,FFFE660BA1556BA6D79ED1DB7760D526,A01C179EF6A82AB129B7F242CC8BB9B3,ENTRANTE,NaN,NaN,03/01/2015 03:59:37 p.m.
7860424,FFFE660BA1556BA6D79ED1DB7760D526,FFFE660BA1556BA6D79ED1DB7760D526,A01C179EF6A82AB129B7F242CC8BB9B3,ENTRANTE,NaN,NaN,03/01/2015 12:57:14 p.m.
7860425,FFFE660BA1556BA6D79ED1DB7760D526,FFFE660BA1556BA6D79ED1DB7760D526,A01C179EF6A82AB129B7F242CC8BB9B3,ENTRANTE,NaN,NaN,03/01/2015 12:36:37 p.m.
7860426,FFFE660BA1556BA6D79ED1DB7760D526,FFFE660BA1556BA6D79ED1DB7760D526,A01C179EF6A82AB129B7F242CC8BB9B3,ENTRANTE,NaN,NaN,04/01/2015 08:05:34 p.m.
7860440,FFFE716B5E9C5CC510070D18C4A55C98,FFFE716B5E9C5CC510070D18C4A55C98,54AF537CC169DD0205EC89FA6BC99BC8,ENTRANTE,NaN,NaN,03/01/2015 08:31:50 a.m.
7860494,FFFEC70310DA005F7E2FA736D616F569,FFFEC70310DA005F7E2FA736D616F569,219BDC99567AB0B630974C31C23085A8,ENTRANTE,NaN,NaN,03/01/2015 10:54:58 a.m.
7860495,FFFEC70310DA005F7E2FA736D616F569,FFFEC70310DA005F7E2FA736D616F569,4F42F318DBD36CD6CF918325D98A1416,ENTRANTE,NaN,NaN,03/01/2015 07:49:18 p.m.
7860496,FFFEC70310DA005F7E2FA736D616F569,FFFEC70310DA005F7E2FA736D616F569,NaN,ENTRANTE,NaN,NaN,04/01/2015 03:19:29 p.m.
7860497,FFFEC70310DA005F7E2FA736D616F569,FFFEC70310DA005F7E2FA736D616F569,F3E3785ACAA1527242636538A0847B62,ENTRANTE,NaN,NaN,03/01/2015 07:14:05 p.m.
7860504,FFFECFF52CCC9286B78526C93F23DB0B,FFFECFF52CCC9286B78526C93F23DB0B,0487FD97D0BEA2B125E62C15BEA041D4,ENTRANTE,NaN,NaN,04/01/2015 06:31:25 a.m.
7860505,FFFECFF52CCC9286B78526C93F23DB0B,FFFECFF52CCC9286B78526C93F23DB0B,A89EEA2762B88B31D4010AC73C16126F,ENTRANTE,NaN,NaN,04/01/2015 05:33:48 p.m.
7860506,FFFECFF52CCC9286B78526C93F23DB0B,FFFECFF52CCC9286B78526C93F23DB0B,A89EEA2762B88B31D4010AC73C16126F,ENTRANTE,NaN,NaN,03/01/2015 04:44:37 p.m.
7860515,FFFF0A10CE4748318A582A84F3D094F8,FFFF0A10CE4748318A582A84F3D094F8,D4F8CC7491DCD9382AAEE4F637309B03,ENTRANTE,NaN,NaN,04/01/2015 10:04:50 a.m.
7860577,FFFF3BE176391DC4EE6C13C1BCC5695B,FFFF3BE176391DC4EE6C13C1BCC5695B,BC9E1571316E00522E2FD09224DCD8C3,ENTRANTE,NaN,NaN,04/01/2015 06:58:54 p.m.
7860578,FFFF3BE176391DC4EE6C13C1BCC5695B,FFFF3BE176391DC4EE6C13C1BCC5695B,BC9E1571316E00522E2FD09224DCD8C3,ENTRANTE,NaN,NaN,03/01/2015 01:13:54 p.m.
7860579,FFFF3BE176391DC4EE6C13C1BCC5695B,FFFF3BE176391DC4EE6C13C1BCC5695B,BC9E1571316E00522E2FD09224DCD8C3,ENTRANTE,NaN,NaN,03/01/2015 03:46:43 p.m.
7860580,FFFF3BE176391DC4EE6C13C1BCC5695B,FFFF3BE176391DC4EE6C13C1BCC5695B,BC9E1571316E00522E2FD09224DCD8C3,ENTRANTE,NaN,NaN,04/01/2015 05:56:12 p.m.
7860628,FFFF760400C57144ECDA0173FD7DD3DD,FFFF760400C57144ECDA0173FD7DD3DD,NaN,ENTRANTE,NaN,NaN,04/01/2015 10:10:52 p.m.
7860641,FFFFB78860929E6E313B95C0278B3F56,FFFFB78860929E6E313B95C0278B3F56,95FF9642B3AD21E46720891300F076F6,ENTRANTE,NaN,NaN,03/01/2015 02:29:21 p.m.
7860667,FFFFE69BC4BE1B244AC2FD2D2533D178,FFFFE69BC4BE1B244AC2FD2D2533D178,85CA631EA4D58AE54845C0C64829F568,ENTRANTE,NaN,NaN,04/01/2015 09:08:27 p.m.
7860673,FFFFF366B5C239EFC72E7315BA26F087,FFFFF366B5C239EFC72E7315BA26F087,03B588FBC57816D14388C6C1B6D6C0E1,ENTRANTE,NaN,NaN,03/01/2015 08:56:26 p.m.
7860674,FFFFF366B5C239EFC72E7315BA26F087,FFFFF366B5C239EFC72E7315BA26F087,A1504D2D8C5AD547C307A538EBDFAD97,ENTRANTE,NaN,NaN,03/01/2015 10:11:16 a.m.
7860675,FFFFF366B5C239EFC72E7315BA26F087,FFFFF366B5C239EFC72E7315BA26F087,FBC66696DFEF224A00392173BD45A8B2,ENTRANTE,NaN,NaN,04/01/2015 03:28:02 p.m.

In [16]:
tabla.dropna(inplace=True)

In [17]:
tabla2 = pd.read_csv("datosgeo/Prepago/Geo_Voz_Prepago_01-020115.txt.gz",sep="\t")
tabla2.drop(['CONTRATO','OPERADOR','DURACION_SEGUNDOS','UBICACIONCIUDAD'],axis=1,inplace=True)
tabla2.rename(columns={'ORIGEN': 'DESTINO', 'DESTINO': 'ORIGEN'},inplace=True);
tabla2.dropna(inplace=True)

In [18]:
sample=tabla.ix[random.sample(tabla.index, 3*(10**5))]
sample2=tabla2.ix[random.sample(tabla2.index, 3*(10**5))]

In [ ]:
del tabla; del tabla2

In [19]:
sample.index = range(1,len(sample)+1)
sample2.index = range(1,len(sample2)+1)

In [20]:
test2=sample.ix[100].FECHA_LLAMADA
test2[0:-3]+'m'

'04/01/2015 12:21:05 pm'

In [20]:
import time;

#### paso el date a formato epoch

In [21]:
sample['FECHA_LLAMADA'] = sample['FECHA_LLAMADA'].map(lambda t: time.mktime(time.strptime(t[0:-3]+'m', "%d/%m/%Y %I:%M:%S %p")));
sample2['FECHA_LLAMADA'] = sample2['FECHA_LLAMADA'].map(lambda t: time.mktime(time.strptime(t[0:-3]+'m', "%d/%m/%Y %I:%M:%S %p")));

In [22]:
sample.rename(columns={'FECHA_LLAMADA': 'FECHA_LLAMADA_EPOCH'},inplace=True);
sample2.rename(columns={'FECHA_LLAMADA': 'FECHA_LLAMADA_EPOCH'},inplace=True);

In [13]:
#hago un sort por el FECHA_LLAMADA para ver cuando arranca la base de datos 
tabla.index = range(1,len(tabla)+1)

In [16]:
tabla['FECHA_LLAMADA'] = tabla['FECHA_LLAMADA'].map(lambda t: time.mktime(time.strptime(t[0:-3]+'m', "%d/%m/%Y %I:%M:%S %p")));
tabla.rename(columns={'FECHA_LLAMADA': 'FECHA_LLAMADA_EPOCH'},inplace=True);

In [17]:
tabla.sort_values(by='FECHA_LLAMADA_EPOCH',ascending=True,inplace=True)

In [18]:
tabla.head()

,TELEFONO,DESTINO,ORIGEN,DIRECCION,UBICACIONCIUDAD,LATITUD,LONGITUD,FECHA_LLAMADA_EPOCH
5015223,DC1F8BC68A6B6D22A7CBD4C9787BD9DB,DC1F8BC68A6B6D22A7CBD4C9787BD9DB,F1BB45B86CC4540E6194D6A28F177825,SALIENTE,Tlalnepantla,19.517500,-99.102500,1420070400
6984754,CBF4C39BE4C0EAC246FCD5D206C5D2E4,CBF4C39BE4C0EAC246FCD5D206C5D2E4,9877CC267054BD7E5871D9D5627FD507,ENTRANTE,NaN,18.966750,-99.247667,1420070400
10363183,E3595DB849B1CD0FC19187317ECA639F,E3595DB849B1CD0FC19187317ECA639F,139AD14F044D03AEE227024E84A615C6,ENTRANTE,Apan,19.710194,-98.448611,1420070400
9821410,76D12717E57C739DB1C2AE5ADA26BC92,76D12717E57C739DB1C2AE5ADA26BC92,30A61DC885EDDEA18B8AB707E5A84321,ENTRANTE,Guadalajara,20.670161,-103.382536,1420070400
6754731,501EF14B895B19BF0F6034C310EF85E0,501EF14B895B19BF0F6034C310EF85E0,2843788532C31620AF795210D4E8D891,ENTRANTE,Xonacatlan,19.405165,-99.521802,1420070400

# *Obs* 
no veo nada porque aca arranca desde EPOCH... PERO mirando la documentacion del trac resulta que todo esta seteado para arrancar el 01/01/2012 a las 0 horas