# Sum_Links files exploration and processing
La idea es levantar atributos para el dataset estandar

* observar estructura de la tabla 
* levantar solo los pares (i,j) donde i & j son users de la telco. Para saber si son users de la teclo es necesario levantar el file del hash_map (user_hash -- > int). Descartando asi el resto de los users.
* extraer features de uso "endemico" para nuestros users de la TelCo

## definiciones utilizadas
* timestamp arranca en 0 segundos para 01/01/2012 00:00am
* La Direction, viene dada relativa al user de la primer columna (incoming si entra y viceversa si es outgoing).
* los calls son un conteo de quantity.
* el time se mide en segundos
* daylight time esta entre [7, 19) horas (exclusivo).
* ignoramos los sms, pues no podemos estar seguros de tener esta info en el dataset Argentino

### el dataset vendria con este header
 {'LineKeyOrigin':hash_object \\\  'LineKeyTarget':np.uint32 \\\  'CallsWeekDayLight':np.uint8 \\\   'CallsWeekNight':np.uint8 \\\  'CallsWeekend':np.uint8 \\\  'TimeWeekDaylight':np.uint8 \\\  'TimeWeekNight':np.uint8 \\\  'TimeWeekend':np.uint8 \\\  'SmsWeekDaylight':np.uint8 \\\  'SmsWeekNight ':np.uint8 \\\  'SmsWeekend':np.uint8}

In [3]:
import pandas as pd; import numpy as np; import os;import random;
pd.set_option('display.max_rows', 300)
from matplotlib import pyplot as plt
%matplotlib inline
import unicodedata
import os
import random
import time

In [4]:
np.random.seed(2016)

In [10]:
#en user_hash_map va a quedar el mapping de hashes por usuario a su int correspondiente.

#users_hash_map= pd.read_csv('/home/juan/mobility-study/output_user_hash_map.txt.gz',
#                       sep = "|",
#                       header=0,
#                       index_col=0)

In [5]:
#seteamos el lugar de trabajo
rootdir="/grandata/voice/sum_links"
os.chdir(rootdir)
year = "2015"; 
month_start= "04";
#todos estos sum_links terminan 2 meses mas tardes
month_end= "0"+str(int(month_start)+2)
input_file= rootdir +"/sum_links_{y}{ms}_{y}{me}.txt.gz".format(y=year,ms=month_start,me=month_end)

In [12]:
!zcat $input_file | head -n10

LineKeyOrigin|LineKeyTarget|CallsWeekDaylight|CallsWeekNight|CallsWeekend|TimeWeekDaylight|TimeWeekNight|TimeWeekend|SmsWeekDaylight|SmsWeekNight|SmsWeekend
CD5844F7EB2C00C63465E43B44EB9025|3F6FEB3BA73D7E51D906B19F1E0A9099|0|0|0|0|0|0|1|0|0
6AEE0F059A39A7E1CF90B93B5BE8E5AD|3F6FEB3BA73D7E51D906B19F1E0A9099|0|0|0|0|0|0|0|0|3
CD5844F7EB2C00C63465E43B44EB9025|21F587020D72C34131DDD04C0FCD6CFF|0|0|0|0|0|0|0|0|1
CD5844F7EB2C00C63465E43B44EB9025|796D132ECDF757CBCE8FB01DDA3891D6|0|0|0|0|0|0|1|0|0
5E8BADC0F256DEC1ACBB1AB2B77527E9|796D132ECDF757CBCE8FB01DDA3891D6|0|0|3|0|0|203|0|0|0
CD5844F7EB2C00C63465E43B44EB9025|5FA3B22C222AFFF5DFAAE7CFCAEBCA30|0|0|0|0|0|0|0|0|1
6B56A956E1A9E56BE4D90543C8706E76|5FA3B22C222AFFF5DFAAE7CFCAEBCA30|0|0|0|0|0|0|1|0|0
2752F0E0F8226FFF2A3189EB131330AC|46B254E4C1A98CECB4F3D52E66BB836D|1|0|1|196|0|36|0|0|0
2752F0E0F8226FFF2A3189EB131330AC|A954CAD047A827B6DEBA10BD797E7B16|10|4|9|1403|208|1416|0|0|0

gzip: stdout: Broken pipe

## Tests
Veamos cuantos usuarios de un sum_links file dado son users de la telco (por cuestiones de velocidad tomamos solo las filas iniciales)

In [234]:
!zcat "/home/juan/mobility-study/output2.txt.gz" | head -n10

USER,EXPOSED,ANTENNA_ID_0,COUNT_0,ANTENNA_ID_1,COUNT_1,ANTENNA_ID_2,COUNT_2,ANTENNA_ID_3,COUNT_3,ANTENNA_ID_4,COUNT_4,ANTENNA_ID_5,COUNT_5,ANTENNA_ID_6,COUNT_6,ANTENNA_ID_7,COUNT_7,ANTENNA_ID_8,COUNT_8,ANTENNA_ID_9,COUNT_9,EPIDEMIC,MOBILITY_DIAMETER
FFFF78CB080636632B2D1DE7A7BFAB03,False,3415,21,2969,5,1320,3,2471,3,1115,2,-1,65535,-1,65535,-1,65535,-1,65535,-1,65535,False,1063.14053495
FFFF51FDDD55A2E24D074DE30C4798E9,True,1207,15,1171,14,1820,9,583,8,2026,5,1066,4,1831,4,1625,2,401,1,825,1,False,520.065958971
FFFE1EDDA25369CBC467536FA6A787FD,True,1847,22,1753,14,1422,11,1028,10,765,9,3072,9,862,8,2463,7,1416,6,871,5,True,989.597851013
FFFD0A912A959CDFCFFAB2F93BFBA435,True,1407,18,1702,8,1613,6,1704,5,1394,3,1398,3,818,2,958,2,726,1,848,1,False,490.58538164
FFFCB235D6D917DDF350F5B11CCB0EE8,True,17,74,174,33,1123,4,1178,4,173,3,890,2,503,1,1039,1,1228,1,1327,1,True,1613.22560564
FFFC9EC4F662C44D3006BA69C9F0DE85,True,876,19,1737,6,1744,5,326,1,378,1,503,1,1118,1,2216,1,2477,1,2962,1,True,3004.41591695
FFFB2F18F4CCF253C06B581EA518A7A5,True,2543,13,704,7,2540,7,1453,6,1642,5,45,4,2393,4,1841,3,3031,3,1009,2,False,2895.15322279
FFFA147CB2B23AD12F207F0EFBEB14D0,True,1857,103,2959,19,1344,2,2309,2,1511,1,2858,1,-1,65535,-1,65535,-1,65535,-1,65535,True,1633.14109074
FFFA0736F66FB09200CE1D13E081A946,True,266,63,1799,46,1790,29,2716,29,537,21,3377,21,1439,18,2715,16,1720,15,2000,14,True,2557.65502372

gzip: stdout: Broken pipe

In [6]:
user_epidemic = pd.read_csv(
                "/home/juan/mobility-study/output2.txt.gz",
                engine = 'c',
                sep = ',',
                header = 0,
                index_col=0,
                dtype = {'EPIDEMIC':np.bool,
                         'ANTENNA_ID_0':np.int16},
                usecols = ['USER','EPIDEMIC','ANTENNA_ID_0']
                )
## ojo con setear los dtypes para las antennas en np.usigned int pues ahi me transforma todos los -1s en el max del dtype
user_epidemic.index.name = 'LineKeyOrigin'

In [29]:
input_file

'/grandata/voice/sum_links/sum_links_201407_201409.txt.gz'

In [13]:
## leemos de a chunks todo el file y lo agregamos a la tabla con los valores que nos importan

#para filtrar por los users de la telco que estamos mirando
hashes = list(np.unique(user_epidemic.index.values))


#ver el tiempo que tarda
start_time = time.time()



table = pd.DataFrame()
for month_start in ["04","07"]:
    year = "2015"
    print("reading month {m} of {tot_n} months, current time is {t} \n".\
              format(m= month_start,tot_n = 2,t=(time.time()-start_time)))
    #todos estos sum_links terminan 2 meses mas tardes
    month_end= "0"+str(int(month_start)+2)
    input_file= rootdir +"/sum_links_{y}{ms}_{y}{me}.txt.gz".format(y=year,ms=month_start,me=month_end)
    raw_table = pd.read_csv(input_file,
                         sep = "|", 
                         header =0,
                         index_col = None,
                         usecols = ['LineKeyOrigin', 'LineKeyTarget', 'CallsWeekDaylight',
                                    'CallsWeekNight','CallsWeekend','TimeWeekDaylight','TimeWeekNight','TimeWeekend'],
                         chunksize = 5*10**7,    
                        engine = 'c',
                         lineterminator='\n',
                         skipinitialspace=True, 
                        error_bad_lines= False,
                        warn_bad_lines= True,
                        dtype = {'CallsWeekDaylight':np.uint16,'CallsWeekNight':np.uint16,'CallsWeekend':np.uint16,
                                          'TimeWeekDaylight':np.uint16,'TimeWeekNight':np.uint16,'TimeWeekend':np.uint16}
                           )
    numb=0;
    for chunk in raw_table:
        numb+=1
        print("reading chunk #{n} of {tot_n}, current time is {t}".\
              format(n=numb,tot_n = 8,t=(time.time()-start_time)))

        table = table.append(chunk[chunk['LineKeyOrigin'].isin(hashes) & chunk['LineKeyTarget'].isin(hashes)])

#como leo varios meses puede haber dos ocurencias distintas para un par (origin,target)
table = table.groupby(['LineKeyOrigin','LineKeyTarget']).sum()
#vuelvo el indice a como estaba
table.reset_index(inplace = True, level=[0,1])        

print("\n total running time of script is %d " % (time.time() -  start_time))

reading month 04 of 2 months, current time is 0.00210404396057
reading chunk #1 of 8, current time is 138.192387104
reading chunk #2 of 8, current time is 305.699479103
reading chunk #3 of 8, current time is 472.512608051
reading chunk #4 of 8, current time is 641.209093094
reading chunk #5 of 8, current time is 964.172450066
reading chunk #6 of 8, current time is 1084.77642298
reading month 07 of 2 months, current time is 1100.73377705
reading chunk #1 of 8, current time is 1239.01961517
reading chunk #2 of 8, current time is 1408.38448215
reading chunk #3 of 8, current time is 1581.92764211
reading chunk #4 of 8, current time is 1750.17677498
reading chunk #5 of 8, current time is 1923.69535613
reading chunk #6 of 8, current time is 2031.36371708
total running time of script is 2112

### Errors readinglines
algunas lineas no las pudo procesar el C-Parser porque decia que *Error tokenizing data. C error: Expected11 fields in line 189999971,  saw 21* asi que recorro con el error_bad_lines = $False$ y warn_bad_lines = $True$ para luego chequear a mano con sed i.e.

!zcat \$input_file | sed -n '189999969,\$p' | head

In [9]:
!zcat $input_file | sed -n '189999969,$p' | head

gzip: compressed data not read from a terminal. Use -f to force decompression.
For help, type: gzip -h

### Results mirando si (i,j) $\in$ telco_users x telco_users
* intentamos leer un "sample" de la tabla poinendo usando el parametro skiprows = random_bool_array, pero tardaba muchiimo en seleccionar 10^7 filas
* corrida 1: 3.5M de 10M de pares (i,j) eran telco users
* corrida 2: 0.5M de 10M de pares (i,j) eran telco users
* corrida 3: 1.2M de 20M de pares (i,j) eran telco users
* corrida 4: 1.7M de 20M de pares (i,j) eran telco users
* corrida 5: 0.9M de 20M de pares (i,j) eran telco users

### Sample script for attribute selection

In [14]:
table['LineKeyTarget'].isin(hashes).values.all()and (table['LineKeyOrigin'].isin(hashes)).values.all()

True

## filas que no 'aportan' datos. i.e. todas nulas

In [75]:
relevant_cols = [col for col in table.columns.values \
                 if (col != 'EPIDEMIC' and not('Line' in col) and not('ANTENNA' in col) )]
#imprimimos las filas que tienen todas las columnas ==0 (en los atributos relevantes), i.e. no hay actividad.
#y eliminamos estas filas
null_rows= table[(table[relevant_cols].T ==0).all()].index
table.drop(null_rows,inplace=True)

#### Saving first processing file

In [7]:
output_file = "/home/juan/mobility-study/preoutput_sum_links.txt"

In [13]:
pd.DataFrame.to_csv?

In [82]:
#guardo por las dudas para levantar mas rapido a futuro
table.to_csv(output_file, 
             index = False, 
             header = True,
             float_format='%.0f',
             sep="|")

#### Loading first processing file

In [12]:
!zcat "/home/juan/mobility-study/preoutput_sum_links.txt.gz" | head

LineKeyOrigin|LineKeyTarget|CallsWeekDaylight|CallsWeekNight|CallsWeekend|TimeWeekDaylight|TimeWeekNight|TimeWeekend
00000837B868F926F67BD440A0845C1D|5350FBED91E7DA465D7D436ADD1C48F3|0.0|0.0|2.0|0.0|0.0|45.0
00000837B868F926F67BD440A0845C1D|C88DD6FDDF73AF80517291EEA7339B32|1.0|2.0|1.0|47.0|74.0|64.0
000017368A8964F8C71A9F3A1EAF6160|11509D6701C5280D0D0B2271246424B0|1.0|0.0|0.0|318.0|0.0|0.0
000017368A8964F8C71A9F3A1EAF6160|651D2B4E897DB722F28EDB856F4909FE|2.0|0.0|0.0|165.0|0.0|0.0
000017368A8964F8C71A9F3A1EAF6160|FB36428E265F633EC2227140BDDCCB4D|1.0|0.0|0.0|147.0|0.0|0.0
00001ADC8C5705AB4FD8197B5024C1AA|203B6D6813D904D1E9F39EBB40F00C5D|1.0|0.0|0.0|48.0|0.0|0.0
00001ADC8C5705AB4FD8197B5024C1AA|719FD9FE4C22689FF010BD7C15C28A17|0.0|3.0|0.0|0.0|121.0|0.0
00001ADC8C5705AB4FD8197B5024C1AA|CD4F8B895DBF929F0E3ACA3086469CF6|6.0|2.0|3.0|696.0|86.0|176.0
00001ADC8C5705AB4FD8197B5024C1AA|D828A3318C8C24914FE361221029D3EC|0.0|0.0|1.0|0.0|0.0|42.0

gzip: stdout: Broken pipe

In [19]:
table = pd.read_csv( "/home/juan/mobility-study/preoutput_sum_links.txt.gz",
                              header =0,
                              index_col=None,
                              engine="c",
                              sep="|",
                               #dtype = {'CallsWeekDaylight':np.uint16,'CallsWeekNight':np.uint16,'CallsWeekend':np.uint16,
                                #          'TimeWeekDaylight':np.uint16,'TimeWeekNight':np.uint16,'TimeWeekend':np.uint16}                          
                                )

cols = [col for col in table.columns if not('Line' in col or 'ANTENNA' in col) ]
#levanto todo en float, lo paso a int (excepto los hashes)
table[cols].astype(int,copy=False)

,CallsWeekDaylight,CallsWeekNight,CallsWeekend,TimeWeekDaylight,TimeWeekNight,TimeWeekend
0,0,0,2,0,0,45
1,1,2,1,47,74,64
2,1,0,0,318,0,0
3,2,0,0,165,0,0
4,1,0,0,147,0,0
5,1,0,0,48,0,0
6,0,3,0,0,121,0
7,6,2,3,696,86,176
8,0,0,1,0,0,42
9,0,1,1,0,31,29
10,0,1,0,0,36,0
11,3,7,5,104,2053,403
12,0,9,5,0,3758,1065
13,0,1,0,0,19,0
14,0,2,0,0,41,0
15,1,1,0,48,187,0
16,0,1,4,0,44,272
17,2,5,2,181,173,224
18,1,0,0,80,0,0
19,0,0,1,0,0,90
20,0,0,1,0,0,20
21,2,1,0,1015,426,0
22,2,1,0,134,97,0
23,3,0,2,235,0,49
24,0,3,0,0,149,0
25,0,0,1,0,0,68
26,0,0,2,0,0,84
27,0,0,1,0,0,516
28,0,0,1,0,0,62
29,1,0,0,68,0,0
30,1,0,0,103,0,0
31,0,0,1,0,0,174
32,0,0,1,0,0,349
33,0,1,0,0,53,0
34,0,4,0,0,1996,0
35,0,0,1,0,0,474
36,0,1,0,0,544,0
37,0,0,1,0,0,147
38,0,0,1,0,0,351
39,0,1,0,0,426,0
40,0,0,1,0,0,592
41,0,1,0,0,31,0
42,0,0,1,0,0,162
43,0,0,2,0,0,754
44,1,0,0,519,0,0
45,0,1,0,0,131,0
46,0,0,2,0,0,916
47,1,0,0,42,0,0
48,1,0,0,473,0,0
49,1,0,0,39,0,0
50,1,0,0,38,0,0
51,0,2,0,0,692,0
52,1,0,0,50,0,0
53,0,0,2,0,0,981
54,1,0,0,249,0,0
55,0,1,0,0,451,0
56,1,0,0,101,0,0
57,1,0,0,58,0,0
58,0,0,4,0,0,1991
59,1,0,0,27,0,0
60,0,0,2,0,0,866
61,0,1,0,0,158,0
62,0,1,0,0,197,0
63,0,0,2,0,0,1051
64,0,1,0,0,310,0
65,0,2,0,0,191,0
66,0,1,0,0,34,0
67,0,0,3,0,0,1323
68,0,2,0,0,1194,0
69,0,0,1,0,0,481
70,0,1,0,0,125,0
71,1,0,0,287,0,0
72,0,1,0,0,45,0
73,2,0,0,1220,0,0
74,3,0,0,1613,0,0
75,0,1,0,0,91,0
76,1,0,0,220,0,0
77,0,1,0,0,57,0
78,0,0,2,0,0,835
79,0,1,0,0,276,0
80,0,0,2,0,0,1167
81,0,1,0,0,24,0
82,1,0,0,145,0,0
83,1,0,2,225,0,93
84,9,2,2,684,116,81
85,1,0,0,51,0,0
86,1,0,0,45,0,0
87,1,0,0,37,0,0
88,0,0,1,0,0,173
89,1,0,2,235,0,480
90,1,2,0,61,168,0
91,1,4,0,71,226,0
92,2,9,4,536,3613,1187
93,2,6,0,379,402,0
94,0,0,1,0,0,46
95,5,5,0,214,993,0
96,5,4,4,477,194,223
97,0,0,1,0,0,78
98,1,0,0,51,0,0
99,6,3,8,542,169,552
100,0,0,1,0,0,52
101,0,1,0,0,35,0
102,0,1,0,0,264,0
103,1,0,0,53,0,0
104,1,0,0,86,0,0
105,2,3,0,266,289,0
106,0,1,2,0,91,257
107,4,2,1,336,255,60
108,1,0,0,170,0,0
109,2,0,0,102,0,0
110,0,1,0,0,36,0
111,0,1,0,0,573,0
112,5,9,6,249,345,420
113,15,3,5,904,342,236
114,1,5,4,32,176,127
115,0,1,0,0,56,0
116,3,0,0,136,0,0
117,5,6,4,273,246,310
118,0,3,0,0,155,0
119,1,0,0,38,0,0
120,3,0,0,191,0,0
121,1,0,1,91,0,52
122,7,3,6,724,155,190
123,3,2,1,385,209,41
124,0,2,0,0,47,0
125,0,0,4,0,0,447
126,10,16,14,2367,7511,4035
127,0,0,5,0,0,2118
128,1,1,1,73,98,195
129,5,3,5,499,198,338
130,1,0,0,54,0,0
131,1,0,1,23,0,48
132,2,1,0,66,39,0
133,2,1,1,138,68,118
134,50,14,16,4643,1263,2361
135,1,0,1,75,0,80
136,12,1,2,1640,60,252
137,1,0,0,58,0,0
138,14,20,5,1069,1670,437
139,1,2,0,26,317,0
140,6,2,0,229,128,0
141,0,1,0,0,22,0
142,1,0,0,99,0,0
143,0,0,1,0,0,36
144,1,0,0,102,0,0
145,14,0,0,1172,0,0
146,1,1,0,45,37,0
147,8,7,0,699,1400,0
148,4,1,0,983,218,0
149,16,7,20,5072,2663,7294
...,...,...,...,...,...,...
5015369,9,14,6,768,1073,329
5015370,11,3,2,805,162,89
5015371,1,1,0,172,42,0
5015372,9,1,9,1963,51,1513
5015373,0,2,1,0,138,62
5015374,10,2,5,910,193,285
5015375,3,0,0,205,0,0
5015376,0,3,1,0,128,40
5015377,1,0,6,67,0,755
5015378,4,1,1,221,527,47
5015379,0,0,1,0,0,282
5015380,1,0,1,94,0,35
5015381,0,0,1,0,0,36
5015382,1,0,1,98,0,23
5015383,1,0,0,28,0,0
5015384,1,0,0,112,0,0
5015385,10,17,5,521,854,148
5015386,3,0,1,91,0,51
5015387,0,1,0,0,115,0
5015388,9,6,13,866,508,805
5015389,3,0,0,109,0,0
5015390,16,5,1,905,369,99
5015391,1,0,1,116,0,88
5015392,2,0,0,613,0,0
5015393,1,1,0,32,44,0
5015394,0,0,1,0,0,216
5015395,1,0,0,68,0,0
5015396,0,0,1,0,0,41
5015397,12,7,0,468,181,0
5015398,1,0,0,13,0,0
5015399,0,0,4,0,0,202
5015400,1,1,0,82,253,0
5015401,5,1,4,457,41,247
5015402,1,0,0,106,0,0
5015403,9,0,6,1758,0,770
5015404,38,4,0,9247,459,0
5015405,0,0,1,0,0,18
5015406,0,0,2,0,0,65
5015407,8,0,7,742,0,957
5015408,1,0,0,57,0,0
5015409,10,4,5,669,157,236
5015410,5,0,1,507,0,64
5015411,1,0,0,75,0,0
5015412,1,0,0,60,0,0
5015413,4,0,0,169,0,0
5015414,4,1,5,276,26,239
5015415,6,0,7,372,0,531
5015416,6,0,0,797,0,0
5015417,5,0,2,322,0,95
5015418,0,1,0,0,60,0
5015419,2,0,0,1098,0,0
5015420,0,1,1,0,120,404
5015421,1,2,0,420,599,0
5015422,0,0,1,0,0,366
5015423,0,0,1,0,0,58
5015424,3,5,4,136,280,234
5015425,0,1,0,0,21,0
5015426,0,1,0,0,30,0
5015427,2,2,4,143,68,160
5015428,0,0,1,0,0,229
5015429,1,0,0,51,0,0
5015430,2,0,0,158,0,0
5015431,1,0,0,276,0,0
5015432,0,4,5,0,1310,1596
5015433,0,0,1,0,0,394
5015434,3,9,8,317,597,854
5015435,0,1,1,0,37,78
5015436,0,0,1,0,0,47
5015437,1,0,0,44,0,0
5015438,16,7,4,4474,2440,1390
5015439,1,6,2,65,1035,142
5015440,11,0,3,1055,0,1037
5015441,3,0,3,461,0,502
5015442,2,1,2,204,108,246
5015443,0,4,9,0,324,3337
5015444,0,1,0,0,28,0
5015445,0,1,3,0,43,244
5015446,12,1,2,4961,130,755
5015447,0,0,1,0,0,16
5015448,1,0,0,27,0,0
5015449,0,0,1,0,0,93
5015450,2,0,0,78,0,0
5015451,3,0,0,266,0,0
5015452,0,2,0,0,46,0
5015453,4,0,0,337,0,0
5015454,1,0,0,82,0,0
5015455,3,0,0,101,0,0
5015456,0,0,1,0,0,94
5015457,10,31,14,1656,9906,1113
5015458,1,0,1,51,0,16
5015459,1,0,0,112,0,0
5015460,4,1,0,296,24,0
5015461,2,3,0,148,227,0
5015462,0,1,0,0,13,0
5015463,10,0,0,626,0,0
5015464,1,0,0,89,0,0
5015465,1,0,1,72,0,65
5015466,0,2,1,0,74,293
5015467,2,2,2,139,121,119
5015468,0,1,0,0,77,0
5015469,15,7,3,1336,572,193
5015470,0,1,0,0,85,0
5015471,0,1,0,0,33,0
5015472,24,5,4,6491,1442,320
5015473,2,1,3,292,50,191
5015474,1,0,0,45,0,0
5015475,0,1,0,0,12,0
5015476,0,1,0,0,42,0
5015477,2,0,0,59,0,0
5015478,0,1,0,0,219,0
5015479,2,4,10,156,308,892
5015480,0,7,0,0,249,0
5015481,0,1,0,0,28,0
5015482,0,1,0,0,27,0
5015483,0,0,3,0,0,161
5015484,0,0,1,0,0,60
5015485,0,1,4,0,104,322
5015486,5,1,1,378,60,81
5015487,1,1,0,46,219,0
5015488,0,1,0,0,53,0
5015489,0,0,1,0,0,52
5015490,0,0,2,0,0,119
5015491,1,2,0,275,75,0
5015492,0,2,0,0,113,0
5015493,10,5,3,680,436,183
5015494,1,6,0,68,240,0
5015495,0,0,2,0,0,64
5015496,0,0,1,0,0,168
5015497,1,0,0,20,0,0
5015498,0,0,3,0,0,146
5015499,0,0,2,0,0,188
5015500,0,2,0,0,182,0
5015501,41,5,17,1782,233,1215
5015502,1,0,0,15,0,0
5015503,1,1,1,12,22,26
5015504,1,0,0,31,0,0
5015505,3,0,1,259,0,40
5015506,0,3,1,0,141,71
5015507,26,3,6,2794,323,549
5015508,4,0,3,154,0,48
5015509,1,0,0,14,0,0
5015510,24,5,6,2090,284,353
5015511,1,0,0,31,0,0
5015512,1,0,0,115,0,0
5015513,5,1,2,931,86,1158
5015514,2,0,0,342,0,0
5015515,2,0,0,293,0,0
5015516,1,0,0,80,0,0
5015517,1,0,0,66,0,0
5015518,0,1,0,0,38,0

In [20]:
user_epidemic.columns

Index([u'ANTENNA_ID_0', u'EPIDEMIC'], dtype='object')

In [21]:
#agrego la info de epidemicidad de los targets.
table = table.join(user_epidemic[['EPIDEMIC','ANTENNA_ID_0']], on='LineKeyOrigin',how='left',rsuffix='_Origin')
table = table.join(user_epidemic['ANTENNA_ID_0'], on='LineKeyTarget',how='left',rsuffix='_Target')

True

In [171]:
start_time =time.time()
test =  table.sample(10**5)
test.sort_values(by='LineKeyOrigin',inplace=True)
(~test['EPIDEMIC'].isnull().values).all()
time.time() - start_time

1.571415901184082

## Agrego en un .sum() la info de sum_links por antenna y por KeyOrigin

In [97]:
test.head()

,LineKeyOrigin,LineKeyTarget,CallsWeekDaylight,CallsWeekNight,CallsWeekend,TimeWeekDaylight,TimeWeekNight,TimeWeekend,EPIDEMIC,ANTENNA_ID_0,ANTENNA_ID_0_Target
42,000075A3DC589DAD51DB5E3D4EA096DD,3F53782075B7D38D02F35148A5C309C0,0,1,0,0,426,0,False,3152,1470
43,000075A3DC589DAD51DB5E3D4EA096DD,446DA7D022DDE45692C01240FBBC3FED,0,0,1,0,0,592,False,3152,2649
40,000075A3DC589DAD51DB5E3D4EA096DD,2B55CEE62F71B48CD1F390BD22AA6233,0,0,1,0,0,147,False,3152,236
89,0000999AA2E8173C1E10376BF6C11FF9,19C0F005AA5BA6FABB88F443098D9E94,1,0,0,51,0,0,True,1059,1844
91,0000A2185C3D93E2D52D607ADAAFF202,068F2B8B7A6DE1A7CB4EE28A47776652,1,0,0,45,0,0,True,1805,1805

In [23]:
cols = [col for col in table.columns if not('Line' in col or 'ANTENNA' in col) ]
user_cols = [col for col in table.columns if ('Line' in col ) ]
antenna_table = table.groupby(['ANTENNA_ID_0','ANTENNA_ID_0_Target'],sort=False)[cols].sum()
antenna_table.drop('EPIDEMIC',inplace=True,axis=1)
#test  =  test.groupby(['LineKeyOrigin','EPIDEMIC'],sort=False)[cols].sum()
antenna_table.reset_index([0,1],inplace=True)
antenna_table.sort_values(by='ANTENNA_ID_0',inplace=True,ascending=True)

In [24]:
# reagrego la informacion de las antennas epidemicas
antennas= pd.read_csv('/home/juan/mobility-study/antennas_mexico.csv',sep = "|",header=0,index_col=None)
antenna_table = antenna_table.join(antennas['EPIDEMIC'], on='ANTENNA_ID_0_Target',how='left')

### Make Antenna_users
Queremos ver cuantos users interactuando con una antenna son Vulnerables y cuantos Totales
Si pensamos que las antennas definen una particion de los nodos del grafo:

Aca Total_users no significa cuantos usuarios residen en la antenna, ni cuantos usuarios de afuera llamaron a la antenna, sino que especificamente habla del # de aristas del grafo social (donde arista implica algun tipo de comunicacion y no considera el tipo de comunicacion) que entran a la antenna i.e. a esta particion 

Idem para Vuln_users, pero ahora cuenta las aristas que provienen exclusivamente de usuarios "epidemicos".

In [25]:
antenna_users = table.groupby(['ANTENNA_ID_0','ANTENNA_ID_0_Target'],sort=False)[user_cols].count()
antenna_users.reset_index(level = [0,1],inplace=True)
antenna_users.sort_values(by='ANTENNA_ID_0',inplace=True,ascending=True)
antenna_users = antenna_users.join(antennas['EPIDEMIC'], on='ANTENNA_ID_0_Target',how='left')
antenna_users = antenna_users.groupby(['ANTENNA_ID_0','EPIDEMIC'])[user_cols].count()
antenna_users.reset_index(level =1 ,inplace=True)
antenna_users.drop('LineKeyTarget',inplace=True,axis=1)
##OJO QUE existen antennas que no tienen contacto con epidemic ==0 o epidemic ==1 entonces aparecen NaNs que 
#deberian ser ==0
antenna_users = antenna_users.pivot(columns='EPIDEMIC')
antenna_users.fillna(value=0,inplace=True)
antenna_users.columns = ['TOTAL_USERS','VULN_USERS']
antenna_users.index.name='ANTENNA_ID_0'
antenna_users['TOTAL_USERS'] = antenna_users['TOTAL_USERS'] +  antenna_users['VULN_USERS']

### Sanity checking im not losing users
hicimos una comparacion de la tabl antes y despues de la ultima linea de codigo y da que
len(np.unique(table.LineKeyOrigin.values)) == 640647
len(np.unique(test.index.levels[0].values)) == 640647

In [27]:
#con esta funcion creamos las filas que vienen a agrupar las sumas de llamados para c/ usuario a partir de contactos con 
#usuarios epidemicos y la suma sin segregar(i.e. sumando los valores para epi==0 y epi ==1)

def get_epidemic_agregator(group):
    #genero la lista vacia de output sin epidemic
    
    labels = [col for col in group.columns.values if (col != 'EPIDEMIC' and not('Line' in col) and not('ANTENNA' in col) )]
    all_labels = labels + [col+"_EPI" for col in labels]
    medio = len(labels)
    vals = [0]*2*(medio) 
    vals = np.array(vals,dtype=np.uint16)
    #total_user = 
    #users = 
    #aca hay que tener mucho cuidados con los casos epidemic solo ==0, solo epi==1, y solo epi ==1 and 0
    if group.shape[0]>1:
        users = group[group['EPIDEMIC']==1]
        vuln_users = group[group['EPIDEMIC']==1]
        grouped = group.groupby('EPIDEMIC')[labels].sum()
        #en el caso que el grupo tenga dos estados de EPIDEMIC, sigue siendo un dataframe
        if grouped.shape[0]>1:
            non_epi = grouped.iloc[0].values
            epi = grouped.iloc[1].values
    #en el caso que el grupo tenga solo 1 estado de EPIDEMIC,colapasa a una serie con la info en el indice
        else:
            if grouped.index.values==0:
                non_epi = grouped.values[0]
                epi = np.zeros(medio)
            if grouped.index.values==1:
                epi = grouped.values[0]
                non_epi = np.zeros(medio)
        
        
        #epi = np.array(group.iloc[1,:].values.tolist()[2:],dtype=np.uint16) if group.iloc[1,:].EPIDEMIC ==1 else \
        #                np.array(group.iloc[0,:].values.tolist()[2:],dtype=np.uint16)
        #non_epi = np.array(group.iloc[0,:].values.tolist()[2:],dtype=np.uint16) if group.iloc[0,:].EPIDEMIC ==0 else \
        #                    np.array(group.iloc[1,:].values.tolist()[2:],dtype=np.uint16)
        
        
        epi =  np.array(epi.tolist(),dtype=np.uint16)
        non_epi =  np.array(non_epi.tolist(),dtype=np.uint16)
        #print("epi es %s" %epi)
        #print("non_epi es %s" %non_epi )
        vals[:medio] += epi.astype(np.uint16) + non_epi.astype(np.uint16)
        vals[medio:] = epi
        #print(vals)

    #caso solo una fila
    elif group.shape[0]==1:

        if group.EPIDEMIC.values==0:
            #primer mitad es valores de la fila, segunda mitad 0
            vals[:medio] += np.array(group[labels].iloc[0].values.tolist(),dtype=np.uint16)

        if group.EPIDEMIC.values==1:
          
            #primer mitad es 0 , segunda mitad valores de la fila
            vals[medio:] += np.array(group[labels].iloc[0].values.tolist(),dtype=np.uint16)
    
    #print("vals object is %s" %vals)
    
    epi_table = pd.DataFrame(data = [vals], columns=all_labels) 
    
    return epi_table

## get_epidemic_aggregator apply on antennas Table

### Testing get_epidemic_aggregator
Corrimos este algoritmo con un sample de mil lineas y comparamos especificamente para aquellos usuarios que tenian caracteristicas de EPIDEMIC==1, con lo cual testeamos a ver si estaba resultando bien o no el siguiente apply en estos casos cruciales (los otros eran mas simples).

In [136]:
antenna_table.head()

,ANTENNA_ID_0,ANTENNA_ID_0_Target,CallsWeekDaylight,CallsWeekNight,CallsWeekend,TimeWeekDaylight,TimeWeekNight,TimeWeekend,EPIDEMIC
1232115,1,973,20,0,0,2733,0,0,0
395937,1,3858,0,0,1,0,0,476,0
395936,1,2641,0,1,0,0,202,0,1
318028,1,77,0,1,0,0,74,0,1
853768,1,2854,0,0,1,0,0,47,1

In [27]:
i = random.randint(0,9200)
antenna_table.iloc[i:i+4,].groupby('ANTENNA_ID_0').apply(get_epidemic_agregator)

,,CallsWeekDaylight,CallsWeekNight,CallsWeekend,TimeWeekDaylight,TimeWeekNight,TimeWeekend,CallsWeekDaylight_EPI,CallsWeekNight_EPI,CallsWeekend_EPI,TimeWeekDaylight_EPI,TimeWeekNight_EPI,TimeWeekend_EPI
ANTENNA_ID_0,,,,,,,,,,,,,
11,0,49,28,18,4465,3990,1183,34,10,4,1641,361,170

In [28]:
antenna_table.iloc[i:i+4,]

,ANTENNA_ID_0,ANTENNA_ID_0_Target,CallsWeekDaylight,CallsWeekNight,CallsWeekend,TimeWeekDaylight,TimeWeekNight,TimeWeekend,EPIDEMIC
36978,11,2985,6,3,0,300,145,0,1
18947,11,1955,0,0,1,0,0,51,0
30970,11,1453,15,18,13,2824,3629,962,0
31988,11,230,28,7,4,1341,216,170,1

In [28]:
start_time = time.time()
antenna_table=antenna_table.groupby('ANTENNA_ID_0').apply(get_epidemic_agregator)
antenna_table.reset_index(level=1,inplace=True)
antenna_table.drop('level_1',axis=1,inplace=True)
time.time()-start_time

24.560290813446045

In [45]:
verify= antenna_table.sample(20)
ind = verify.index.values
ind

array([1354, 3710,  942, 3121, 3686, 1316, 3715,  290, 1914,  175,  136,
       2191,  602,  501, 3020, 2105, 2235,  686, 1358, 1449])

In [279]:
user = 1354
antenna_table[antenna_table['ANTENNA_ID_0'] == user]

,ANTENNA_ID_0,ANTENNA_ID_0_Target,CallsWeekDaylight,CallsWeekNight,CallsWeekend,TimeWeekDaylight,TimeWeekNight,TimeWeekend,EPIDEMIC
1567,3402,1378,1,0,0,32,0,0,0
7990,3402,3227,1,0,0,24,0,0,0
7596,3402,3402,0,0,2,0,0,36,0

In [280]:
verify.loc[user]

CallsWeekDaylight         2
CallsWeekNight            0
CallsWeekend              2
TimeWeekDaylight         56
TimeWeekNight             0
TimeWeekend              36
CallsWeekDaylight_EPI     0
CallsWeekNight_EPI        0
CallsWeekend_EPI          0
TimeWeekDaylight_EPI      0
TimeWeekNight_EPI         0
TimeWeekend_EPI           0
Name: 3402, dtype: int64

In [29]:
antenna_table.reset_index(level=0,inplace=True)
antenna_table = antenna_table.join(antennas['EPIDEMIC'], on='ANTENNA_ID_0',how='left')
antenna_table.head()

,ANTENNA_ID_0,CallsWeekDaylight,CallsWeekNight,CallsWeekend,TimeWeekDaylight,TimeWeekNight,TimeWeekend,CallsWeekDaylight_EPI,CallsWeekNight_EPI,CallsWeekend_EPI,TimeWeekDaylight_EPI,TimeWeekNight_EPI,TimeWeekend_EPI,EPIDEMIC
0,1,6539,3189,3169,53972,42050,44656,3989,1832,1760,14042,22740,18573,1
1,2,6336,3598,3420,19025,47471,16603,3559,1852,1893,11533,50915,3744,1
2,3,8958,4688,4118,43640,5215,38762,4545,2234,2187,64471,41947,48825,1
3,4,4360,2782,2719,49870,65048,54122,2105,1563,1415,16605,7948,39523,1
4,5,2807,1610,1787,38676,47700,11503,1420,899,906,336,13666,15146,1

In [31]:
#finalmente pego la info de antenna_users a la tabla
antenna_table = antenna_table.join(antenna_users[['TOTAL_USERS','VULN_USERS']], on='ANTENNA_ID_0',how='left')

In [35]:
antenna_table[antenna_table['EPIDEMIC']==0].shape

(2794, 16)

In [32]:
antennas.shape, antenna_table.shape

((4429, 5), (4171, 16))

In [33]:
#guardo la info de antennas
antenna_table.to_csv('/home/juan/mobility-study/mexico_antennas_vulns.txt', 
            index = False, 
             header = True,
             sep="|")

In [252]:
antenna_table.shape

(4171, 14)

## get_epidemic_aggregator apply on users Table

### Para optimizar el apply:
mejor correrlo directamente sobre usuarios que tengan algun epidemic ==0 pues estos van a dar resultados diferentes mientras que los otros usarios simplemente "extenderian" la tabla con 0s hacia las columnas _EPIDEMIC . 

En algunos casos el 80% de la tabla son usuarios que NO tienen info epidemica.

In [76]:
def transformation(x,new_cols):
    if x.LineKeyOrigin.values[0] in only_non_epidemic_users:
        for col in new_cols:
            x[col]=0
        x.drop('EPIDEMIC',inplace=True,axis=1)
        #paso el LineKeyOrigin a indice y dropeo esa columna
        x.index = subset['LineKeyOrigin'].values
        x.index.name = 'LineKeyOrigin'
        x.drop('LineKeyOrigin',inplace=True,axis=1)

    return x

In [78]:
new_cols =[col+"_EPI" for col in test.columns.values \
           if (col != 'EPIDEMIC' and not('Line' in col) and not('ANTENNA' in col) )]

grouped.transform(lambda x: transformation(x,new_cols))

/home/juan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/juan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/juan/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,LineKeyOrigin,LineKeyTarget,CallsWeekDaylight,CallsWeekNight,CallsWeekend,TimeWeekDaylight,TimeWeekNight,TimeWeekend,EPIDEMIC,ANTENNA_ID_0,ANTENNA_ID_0_Target
3,000017368A8964F8C71A9F3A1EAF6160,651D2B4E897DB722F28EDB856F4909FE,2,0,0,165,0,0,True,815,1896
29,NaN,00A1B253884AFB0C50D2FBF4043E74BC,1,0,0,68,0,0,NaN,3152,2958
71,NaN,C89EDEF4E4CEDBB40FF39FE81EBD8687,1,0,0,287,0,0,NaN,3152,3340
69,NaN,C0E74CEE3A1693248BDC3FBE3A200D90,0,0,1,0,0,481,NaN,3152,661
103,NaN,68AEB2016C3E272BCC292CD007BA8566,1,0,0,53,0,0,NaN,1094,2358
217,NaN,1F79850EAB29B4FC60BABE17D66E3C1C,8,6,7,1296,1845,2089,NaN,2347,33
248,NaN,BDC513825E4591A891E7B8B6A66E4913,0,0,3,0,0,122,NaN,390,1285
297,NaN,D6758363765882542E2C9E768C4710DE,0,2,0,0,1072,0,NaN,42,769
335,0003ABFB87DA27F8998F8727037B2C7F,AB1AC07646365B3CC52ECF34CC5B7256,0,0,1,0,0,29,True,2160,2160
344,NaN,587B204530BD3EFF57D44A8CF5A20B0D,2,1,3,254,19,160,NaN,524,1440
367,NaN,6BF6B97544EF04B9393BE1FE9D9969D2,1,3,0,84,271,0,NaN,3147,3147
444,NaN,84A624B4BF29EB4488D304DD342CCB59,0,2,0,0,69,0,NaN,2157,2037
477,NaN,98CDBBF9168DED054A19BF92EF23FA0F,1,2,0,53,121,0,NaN,448,247
554,NaN,3C876D371668714C48B6B4CEB437FF27,0,0,1,0,0,175,NaN,2384,1340
636,NaN,23DCAFA03FAAEFCBCC0691B1D31C0137,6,6,4,467,382,474,NaN,3256,865
643,00082D0451B04403DA8214C00B992149,E13A979CBFBFFF70E1B9C3B8A18FB840,0,0,2,0,0,170,True,1144,587
724,000964B68F93458158E652C896880892,0B18E9FB2360088EC202A0438A82B359,1,0,1,67,0,65,True,412,146
735,NaN,E59E3981395543F9EB701E4E7F49FF42,1,0,0,120,0,0,NaN,1374,1204
776,000A6918E549FBAC0C6873CF9446740D,FDCE26A16CB70FFAF6E97BFE15D5FF4F,36,26,41,3518,2445,4014,True,30,1073
801,NaN,BC387D4BAC95155967AFFF8DF5782746,0,1,2,0,144,171,NaN,2035,703
813,NaN,0309281DE4BB11B7BEB2F7EDD250A930,7,5,2,651,278,520,NaN,2058,2058
838,NaN,92041E46DB49D885C84C317F0E82F18A,4,5,2,202,195,161,NaN,903,333
954,000D230C27E0385C8F7F10FBCA62568A,B865C5C8FAA5BB538B73D744FBE4C764,15,8,4,757,542,172,True,2,2
1046,NaN,940690F5385798242F5F7F8107C1DCC0,0,3,0,0,984,0,NaN,2103,2585
1159,NaN,68D44932154E0B153DCED749BCA84BD5,4,1,1,210,35,117,NaN,2137,2011
1244,NaN,4C29A284EF6277C1D8791D98C11D9670,1,0,0,232,0,0,NaN,2216,189
1309,NaN,F285E62FDE5CF2F53457CB32E1E3C93A,2,2,0,135,89,0,NaN,3722,1959
1327,NaN,8501832BCF297F694B72F83F148B0A6F,0,2,0,0,348,0,NaN,1066,1211
1353,NaN,BC13A245F30F93E798B1D70A45A70000,0,0,1,0,0,49,NaN,1281,1189
1370,00133E833A767C09631C152A6173DB59,BD85B57A7299ADAE5D24207E956C2B6A,47,41,41,12146,13832,15364,True,530,2811
1430,00136079F64B147B21A745A969BEDE7F,2FF7182631EFEB142504E272BAF70321,1,0,0,64,0,0,True,1465,2163
1490,0013DB93302BD78619913D15A046A789,DD612EC28ABADB967E51DB1785B64AAC,1,0,0,41,0,0,True,2287,2206
1500,0013F65631325177C376150985798A7A,BCFF1C8DBD372F906AB940C2A69A0EDC,1,0,0,58,0,0,True,1250,1465
1544,NaN,37D04FB2810C5CC62C7227AEAB70B400,1,0,0,48,0,0,NaN,1749,1540
1587,0015080A2FE1F114DA69F80A56C869A2,AD29A88FF90608BD22CF7823C7CD930E,18,2,2,1222,166,117,True,48,48
1585,0015080A2FE1F114DA69F80A56C869A2,A07F86F969BD0C632F5921439B8962FA,2,0,2,112,0,107,True,48,186
1594,00152B6A1EB024BB8B2E78431A016734,0B564027D092096F4D0AA19E6379400A,1,1,0,27,80,0,True,671,2170
1617,0015662CA24AD3B7BF1A866DB9C6B439,EA1CD55162AA1B04851C9BB56E6C3DE1,3,0,0,90,0,0,True,1217,1252
1712,00164B0553580EE1F24955767D5FB17E,38081581E929543BB3E7E53A3436A6CD,1,0,0,140,0,0,True,912,3391
1804,0016D8D487CE392614E7FCC773B2B7CC,820379D1138182BB0E54E1E05996A1A0,3,0,2,358,0,92,True,1918,155
1832,00174F8F5F2D827DB8D10089E966F494,147B8D84D4147E42D3B8A49D8EC4A02C,3,0,0,339,0,0,True,1951,2540
1927,NaN,D02D056177C0D91CCAEDE72AB27B62B7,0,1,0,0,34,0,NaN,2865,2806
1971,001953BF301F04F6B1B2163B5A17C6E5,1E1AC28E0E7107468E68D70AC498899D,1,0,0,192,0,0,True,1582,827
2086,001A7F008E6AD1D08742E3820BA12BC7,D6461D1C4D6B4DA01AD33E656EE14F54,0,1,2,0,46,370,True,60,297
2112,NaN,D4FAAA36DB364D39CAE8FC01B3335ECD,2,0,0,754,0,0,NaN,2111,1027
2132,NaN,9C332777E94A2A34374C9104DB45B1C8,2,0,0,216,0,0,NaN,2907,663
2401,NaN,B9A8ABF833257FC04906EED39A5396A3,27,21,16,2216,1782,1231,NaN,2026,2026
2435,NaN,8D0C069D9F7313FD42E0E5464F40FE0C,0,1,0,0,57,0,NaN,318,388
2454,NaN,C937E02C1ED45413ACA34E15A68E3D82,0,1,1,0,71,64,NaN,1833,2407
2481,NaN,31B8A60486D4C314513FCB7113D783BA,0,0,1,0,0,92,NaN,1876,1863
2603,0021E1177C4C01813E46917605908E79,53E3E00ADE6C6D29CF8E6CE29F3965A3,1,0,0,47,0,0,True,2717,1446
2735,0023736633B687B8D2D54079BBABC19D,3A87831714E81F64EE34ACD4D32D3F4F,0,0,1,0,0,30,True,2589,257
2744,00239EC4041D783DF72EEBCD0933B424,23E85C864A8AC01F3D9B3CF21E4A5E8F,1,0,1,182,0,60,True,78,2257
2845,NaN,9F3DE4A0AF4FFF6AE52D2AF51F58464C,2,1,0,517,54,0,NaN,848,17
2857,0025407662DE37039CED9D8BFBDE29F7,09EC60A5466176904CE42BDAD5CD4FA1,18,9,1,933,282,18,True,612,2185
2885,0025ED9D259D77E3FA4A9D790211BA8B,99B9C3B98C16E1D7F3DAC7192D34D04A,13,1,6,2975,335,1682,True,916,916
2937,0026577A9031C7E6E2A2B3FFF84935E3,A3557725C9AA91D9E627EAEB8C03E869,0,0,1,0,0,55,True,521,135
2944,0026577A9031C7E6E2A2B3FFF84935E3,FE621F967A206C373FB7BCEFE9425B38,0,0,2,0,0,663,True,521,529
2962,00267B44846401A97E99DEE06966D8C6,917417897B35C63361490AC991AA8371,2,0,0,55,0,0,True,1418,542
3029,0027183BACFE317FF018303F60C49BD7,282BDCDB6CD4FDE6CE4BDE21426DBEF8,1,2,1,91,221,25,True,2127,632
3140,0028D4DCB2DADFA3330E5DAD82D61D42,47D0220B966D7B8AA89E43259B254C0B,1,0,1,63,0,73,True,1778,1778
3153,NaN,D080135D232E8DC2CD9B64151E88AEC6,0,0,7,0,0,321,NaN,3702,2965
3234,002A2AC3CA7E05DDBD07CE923C1BD3FE,4CDEC619A0D9D63E415F48AD2A264B39,0,3,5,0,358,277,True,508,948
3247,002A7B7DAE740141D754A640A5CA737C,AE47D24B66567E52A86545ECBCEE8EC2,6,1,1,456,242,59,True,2050,2087
3330,002AB4815F301EA934548E8FCED40164,9FF5E06ACD7161DA60094C1B36EC62EF,1,0,0,81,0,0,True,1881,1572
3307,002AB4815F301EA934548E8FCED40164,6B5AF5076D1A116354E02DD68D823269,0,0,1,0,0,29,True,1881,336
3315,002AB4815F301EA934548E8FCED40164,7FA8325923B09C8896BB1B875F68F7B7,0,1,0,0,28,0,True,1881,889
3419,002BC111C63CC97EA9077A7ACCE635EC,BCC2F8674FDACF9C95F60D7CE9FE901F,0,3,2,0,296,70,True,626,301
3438,002C3C13F737C17063ABE75D8D70C6DD,7507CB1BD1306E8C3BABBEBD6E25AFF8,5,8,13,391,989,1048,True,65,208
3451,002C70F32212EBDC3D5023FD382AECF9,19185D39C1C30E4B5DAC29CBCE1C0498,1,2,0,25,195,0,True,1696,1696
3492,002CCD0CFC437BFD983EFF347FAD178B,A5D10EA6B1323EE60C144E123D95A090,5,5,7,767,508,533,True,642,2932
3496,NaN,1B35BC63443A190716BCDEB1B38732CC,7,3,2,308,96,191,NaN,827,1542
3535,002D9C7213656222A88453CCF8865B95,F77EB77DA3F67ED4236AF4E955BFB05B,5,0,2,343,0,111,True,2257,834
3572,NaN,72D0DCEEA47EECCFE86041D701698D19,0,0,1,0,0,67,NaN,1442,2393
3594,NaN,6F95EEC8AD6EAAA435B389FC202DA50F,1,0,3,10,0,117,NaN,1705,2039
3609,NaN,5FFA844F0E8A55902A53BF6A6FBCE5DC,2,4,3,337,422,142,NaN,1275,2185
3613,NaN,A3206F3DABA0F9AFBFFDA622B032D97B,4,1,2,410,33,166,NaN,948,607
3717,NaN,B61F3B413E37E257D743250FAA9575AD,1,2,0,42,66,0,NaN,1277,2699
3727,NaN,D4BE102DCEE615CCEBEC03BD6C4AC78A,0,0,1,0,0,38,NaN,149,3319
3734,NaN,BEE08939E008746C6C7C9C0E5028FAEE,6,1,6,197,68,311,NaN,688,374
3757,NaN,8A7A12BFA1CF054259B14E3EF82E439D,0,1,0,0,48,0,NaN,1771,538
3771,NaN,B59191AFA0A1AFB578B1D8EC4DC5AA89,5,0,0,199,0,0,NaN,881,312
3885,0032E13F5C80A9697AB3589A25E5A5C1,163F278E45414FA6C894DB6E0DF8904F,0,0,1,0,0,114,True,230,2368
4009,NaN,86E1052B6CF5CA12D0EC9E3666CCE4BD,0,0,1,0,0,163,NaN,2385,167
4006,NaN,0BD4D06A40ACEEADA6AB4B1E39C87EF7,0,1,0,0,83,0,NaN,2385,1676
4103,0035211727FB6FAE8A109A15398D6EF2,483D96216A4DC9C04425A15DD84DBE96,2,0,1,62,0,64,True,2772,1925
4452,003A7828834A7E7B0D6F9A114299DA54,D115E20CC0266EED2483E6B38A791181,14,10,8,500,323,304,True,1308,1356
4605,NaN,F22C92FA12750E744DB696F596BE2B48,0,0,1,0,0,36,NaN,1685,2433
4622,NaN,756052F6FF5D856765F09CCA2BD94DA1,0,0,1,0,0,38,NaN,3568,3568
4673,003E094FDDA306D6090F077F4CE6C2FC,C708AC6036EF187F947B64B5AEADEB48,1,1,2,24,48,135,True,429,429
4804,003F2CB3E0C62EE76C3699BABE76CC99,1ACFEDB3D5814433358BAF5A85A3D7A6,1,0,0,72,0,0,True,582,867
4814,003F2CB3E0C62EE76C3699BABE76CC99,C58EAD6B5A48F5E6E8D508810AE09797,2,0,0,105,0,0,True,582,1470
4824,NaN,35B57E7F8F3CDE356FD0BF749C73DECD,0,1,0,0,52,0,NaN,214,374
4933,0040D456C4684F90F46D50871B890776,4F0237E946051013ABD9988D9590E448,2,4,1,319,323,49,True,776,3095
4936,0040D456C4684F90F46D50871B890776,8D22A28C6C01188D3CEB5D02322B17C3,2,5,1,138,280,40,True,776,558
5021,004232D410F42B8EDE4A4823B1F3EBA1,286165F7E636CB5A5276C93FF45991BB,1,0,0,34,0,0,True,2283,2469
5159,NaN,BE4DB83203AE655AD7507C2254E3596B,21,6,0,2835,1747,0,NaN,2349,276
5179,NaN,38DEA94B99654A77CF6585CABD28D082,4,9,5,416,430,206,NaN,2389,89
5214,NaN,5C0878B253301F710EC32EF4D16E1EC5,0,0,1,0,0,90,NaN,306,210
5284,0045C349FC443F14452103CFE9B5013C,95EBEDAB42F1DA03E61F6E83E6BB5671,4,1,1,243,88,57,True,2595,2789
5293,0045F14167F6E154ECCECB66E7BBF49B,D68114910D041B71430F721D5249E11D,1,0,1,63,0,428,True,78,2257
5323,NaN,38749B151879C0CD556B9F489F5109CA,1,6,1,32,268,40,NaN,436,2398
5371,0046ED7FA6733954D3859A4CAE17BEB1,953F6B16BE15505E1922ADDE39097F85,1,0,1,79,0,77,True,224,154
5381,0046FD60C78F2F447EBE91196878ED03,2073D9EF55055601AA1743C7C1D43ED8,5,3,2,499,234,130,True,768,3614
5491,00489FB76EFA46F08B9CF6EC9DD2016F,8B5C21FAE4E804FA2D3464201F63F2CB,0,1,0,0,92,0,True,49,2257
5518,0048CF4BE11F9351DDE8CD6D704F37F6,BC4F448FBC03B14703B82AEB767B57B4,2,1,3,178,36,238,True,2298,1927
5533,0048E8E009EE61973A5AD5FE52E7B910,2BBFE705527528C4A7E570465734CA53,1,0,0,60,0,0,True,817,3794
5555,NaN,D5579D4C42F03F694214C06FB9BEF0F1,1,0,0,57,0,0,NaN,3117,1937
5607,NaN,5C0287350894FB3166CCEF6CA891C168,2,0,0,64,0,0,NaN,2493,2494
5692,004B03F8D4A35FA781A51EBA5C88A873,4977F162756E5D2AC9BA8837713BA38C,16,4,2,934,167,58,True,1491,1491
5775,NaN,1B23A5A85D7BCA49619B1D2839AC9A63,1,0,0,38,0,0,NaN,2187,2802
5819,NaN,F2340AECDEB27ADE6C92C64CDDF96E81,0,0,1,0,0,454,NaN,1211,616
5834,004D22137C9A79897EF5FEF87C75970C,9C15AAD0A242A08A69AB30A1C024BC27,2,1,1,80,79,42,True,700,700
5932,004EB0224923AC4C824DF00D68A0A354,453578B466612662716B83FC4FDB3CBC,25,7,9,3089,658,832,True,1659,1446
5981,NaN,B62A4EA05ADB605093589CBD41921592,0,0,1,0,0,54,NaN,2915,3840
5995,NaN,BAD9CA06AF5AA2C820C5EFF212068F40,13,4,1,4309,937,200,NaN,1639,250
6011,NaN,EF77703ACD6A1A6E39AAA72F2558D80F,0,1,3,0,56,90,NaN,977,977
6058,NaN,AFA07D10A61C4662957A4CAEBE0B73E9,0,0,2,0,0,737,NaN,1253,1657
6033,NaN,4FE3511D03D62CF26FDD134FD31F2B86,1,0,0,45,0,0,NaN,1253,2033
6112,NaN,4E5A1811BF9156BD77F66F53BB77DB71,0,0,2,0,0,207,NaN,3312,3282
6262,0052D621C996F00E82DC620208CCA969,879E06B89EDBA234A93C539949895F09,25,30,18,2100,1143,720,True,403,491
6263,0052D77FF03CBF3A1A763D1C39E34702,5CB652804024BC5F5777EF0971D3A544,4,4,3,1234,800,704,True,2016,2754
6281,0053093EB94843E1F8AAB42AE1EB01F2,237B5F6DA25EF02054407F80A57DC2C6,1,0,0,30,0,0,True,746,2568
6527,NaN,04706179AE435A604F054925D8BA7B0C,3,0,0,259,0,0,NaN,1866,240
6682,005831761E80C74CD83E2D6C70A283B6,48C5C652077304D3D7E23FD49EF0106A,4,2,2,368,177,77,True,2248,992
6780,NaN,E63518DDFEC0916A4FF23AC8F3BC11B5,3,0,4,295,0,454,NaN,1181,1181
6827,NaN,54A6EE01D00B3ABEE6ECBE2CA94746EA,0,0,2,0,0,105,NaN,1179,1974
6836,NaN,1F13FA65B7E82E4FDE1FECD563954B2F,0,1,0,0,15,0,NaN,1292,604
6928,005B1F172C6CB9D185C2E125A7E23552,E55EF31FC1B2BF343772103D21FDDF08,4,0,5,259,0,753,True,219,27
6926,005B1F172C6CB9D185C2E125A7E23552,8383C48561A6CEC89DE126BA4E7FC566,1,1,0,127,166,0,True,219,1006
6964,005B70BEA91166465AFC3C688FC42172,C3EA5EE0D09086EC5533F995C86EB9E5,0,3,1,0,438,73,True,62,583
7045,005CBA38FF6DFD991C50AACD7A2E9A6A,B855B71333BA858FA747453E0B7B9A87,0,0,1,0,0,113,True,578,1098
7067,NaN,DD3935227BA200EE579C8FC4B0F9EE28,0,0,1,0,0,13,NaN,800,800
7090,005D8D991BB7757468BC7D17243FDBDD,736A26083805FA4BEA84A756DEEA66B9,5,5,4,175,721,242,True,686,1128
7184,NaN,621A9F268B71E640C1FDB6AE3610C776,0,1,0,0,40,0,NaN,188,1208
7289,NaN,E31C97E991E179BE685B8E0A9036C0F8,1,0,0,19,0,0,NaN,3425,281
7394,0061F602C753BEB394C2CE69D6EE7FAA,C665B7E555D0759EC7FC2A36D30C0773,22,2,0,1676,324,0,True,569,2348
7410,NaN,F5BC79C6D67209ACB73250218DF20582,0,0,1,0,0,128,NaN,1396,324
7411,006200BFAC01AF0A084AEB354250C0E5,1C66A5E385F0681FF560EA3E6DBB4720,16,4,13,869,224,729,True,755,1869
7440,0062C1E916F34A5692C88605F9A267CD,46EC7313D417824110F03DDF85E021DE,0,2,0,0,210,0,True,1762,1725
7520,NaN,0AE88E2597D1DBEFC5F021B294ADCAED,0,6,3,0,879,106,NaN,2483,2408
7523,0063A4D7D5051A19BA77B50B7BC2FE1D,FC1500C71EB46BD3DD96CFA4E74738F3,6,3,0,448,135,0,True,2143,2143
7553,NaN,2AB6469199A60E28014A534591C0F0FB,0,1,0,0,33,0,NaN,1802,1802
7694,00665718A27D4B71B505E29C26E3E3A4,47247D424CF50E5342AC7D9B29A63ACC,0,2,1,0,153,350,True,53,584
7706,NaN,7A538364A42DABF922AE9117A39B8C01,4,0,1,264,0,56,NaN,1600,1190
7741,0066EFC607FE917C15EC29E6FBF5FFD9,6023BFA213A7709B8D5D499590029836,0,5,5,0,631,861,True,1521,3092
7762,0067623C7F94E2618781225026E8A4DE,0322A963215DF1B13EEC2C7D1AD720D3,0,2,0,0,119,0,True,1388,1080
7765,0067623C7F94E2618781225026E8A4DE,4C282DF8142EB6FB4076EBC420426EA0,3,1,0,174,36,0,True,1388,1281
7778,NaN,0323E561CE5ECEBB2AA4D0F7F285A39F,18,16,3,1136,2046,134,NaN,180,1360
7867,00688B12ACB2FA60E7AB9EF5B1698A5E,21D44FFAD527283AFE347D5996B6C1A1,1,4,1,59,1802,554,True,1870,1821
...,...,...,...,...,...,...,...,...,...,...,...
5009549,FFAB3D60AF11918DC798AE12F5CD3686,E8327DF3A797D7E1524F9A815F517044,8,1,3,627,65,251,True,912,1688
5009634,NaN,1037FE715C113E1E84FBB6D78E6EB50D,0,1,3,0,51,119,NaN,368,1588
5009656,NaN,CDFD59FF8C5EF1B169ADDFD3EC759B51,0,0,1,0,0,96,NaN,3281,3714
5009659,NaN,243462293DE799E0FB7357194CCDD108,3,0,0,1163,0,0,NaN,1202,1959
5009670,NaN,98DEBC46336BCA7C305E7930285D46E9,9,0,12,549,0,579,NaN,297,297
5009678,FFAD3B5F857245453E439A8F4B0D5520,8854254D99E4B3E7786B7F51BCDF8BE7,3,0,0,239,0,0,True,1735,2170
5009707,NaN,FC0E17594EE065A0507C919760AABAB8,0,1,0,0,68,0,NaN,586,977
5009767,NaN,8D18C6DE4396C9B50B959AF64E035A19,1,0,0,47,0,0,NaN,1914,864
5009845,FFAF1748040FA70A164BB8E6D90D9CCA,508A7D7B51A8F4802B2463AA8703005C,0,1,0,0,41,0,True,2011,1589
5009913,NaN,64408D5C58A56C8CEE95CC0CEE480646,0,0,1,0,0,43,NaN,3138,118
5009940,FFB0A52838FBA2B2A3B283865BEC6796,FD0E1409CD85B35AA86FC5D2ECC84E65,1,1,1,60,46,45,True,2248,3554
5009967,NaN,11757F3C4D794A60A9D431FBF3589BE8,0,1,0,0,46,0,NaN,1379,1312
5009971,FFB1116F2D24DD30EF5D3C9F3C27142A,ED456AEBD7817BD55CB6C08FE5C8D344,0,0,1,0,0,51,True,3558,3619
5009992,NaN,1577284B16C01E91BD138E3957FBFA33,0,1,0,0,35,0,NaN,1278,1698
5010039,NaN,995C8711E40FB81C5FA497D54E47A31D,2,1,0,258,165,0,NaN,542,636
5010274,FFB600822C4C5573B44E04B8F673995C,008EBACE2341FE51B3A9AC95F3DCA280,1,0,0,77,0,0,True,163,1997
5010298,NaN,AECAA8D93615474899C5388F2FE7A369,1,0,0,22,0,0,NaN,970,2613
5010342,NaN,9AAB589F6FD49F30EF7EB7D526C1C1F8,3,1,3,293,35,81,NaN,392,432
5010343,FFB6CAB7FF8A8F2C1C1C9A42F3482BE1,7CF86A94D143C8820FD28668E85A659C,1,0,0,92,0,0,True,2260,1633
5010404,NaN,72C4C15B9F6A0E62DBE434EE712B96AF,1,0,0,58,0,0,NaN,541,1710
5010507,NaN,6A3C890E9CE26A5A48FC267B2BB9D433,3,0,0,138,0,0,NaN,2316,2979
5010522,FFB96BA1A5A4D2F9ECB32B5665C8FA1A,286A220A1B69BD1EF7B8B0435164C584,1,0,0,348,0,0,True,2044,2988
5010540,FFB9B8F19BCCF103A1292FB5F6873E8D,264F7AB623414C8B0D316F1B97AB6D0D,0,5,0,0,688,0,True,281,21
5010654,NaN,689763E38A1B742C177D074BB2835E28,1,3,1,46,137,33,NaN,834,2609
5010655,NaN,9D6FBDAD76CD4616B10E4BDF6167E349,0,0,3,0,0,69,NaN,834,834
5010735,FFBBF71842C1D5584E47E044A54EAF2D,0807A560488739A35B69346743892172,2,1,3,94,129,193,True,2257,1639
5010756,NaN,1E9909CD687C861BC8A80D76E7204C1C,17,8,10,940,620,359,NaN,2569,3285
5010873,FFBD849214E0CB33B9700E38DA62B81D,98CEBAC5A407738ADC8894BB2A9092C7,1,0,0,48,0,0,True,2249,1099
5010877,NaN,CD436C84A583960F88E5B8050B0B0EC7,0,0,1,0,0,34,NaN,1620,2133
5010882,FFBDB3AA0A87278AD545E7DE22DCD84D,37CB0FC05BF9768503CC70E4A9B12C81,1,0,0,45,0,0,True,3350,3215
5010886,NaN,4DE3DC0B199BF45972B149A091E1445D,1,0,0,186,0,0,NaN,271,2693
5010899,NaN,0439E616A23E09ABE8FE966A04510850,3,1,2,329,143,183,NaN,3202,1827
5010939,FFBE9698804350634F9579F0EE16A283,AEDDC1E9E776F7A97AFFA531E2B6EA0A,1,0,1,75,0,24,True,462,2991
5011021,FFBF9A730E1E3B544A99520C79FFFC28,93ACEA0F7EE750C492B8624FFD3B538E,2,0,0,46,0,0,True,216,510
5011083,FFC06CC142538A44F1E086B41C2EAF82,265C510856782C00C4FBEBF7453793FE,1,0,0,160,0,0,True,1393,950
5011151,NaN,244147F9C560244716D43B85AC3E7FB3,1,0,0,229,0,0,NaN,254,928
5011164,NaN,5DE2D78118109A555F817A300E03C715,7,13,4,532,4390,256,NaN,2955,2955
5011193,FFC1D5A1610A0C859EC27F8EB5A1C7BA,7B06A5A0749A51D3FF58F9391E5C726D,1,0,1,46,0,41,True,429,1400
5011239,NaN,167210380DE4F86D6017BDE8835A2F71,0,1,0,0,1,0,NaN,2628,406
5011304,FFC3B17552CB34100DE0919135045E84,CE123DDFE3E746FB3A8520AB9EFEE55A,3,2,1,238,81,134,True,671,1905
5011383,FFC57BAFEA9924BBE1E9FB98973721E5,CADCDD0E37C6B38F286FE5D61AA6BECC,5,1,0,473,129,0,True,1145,256
5011407,NaN,47FC4C1BF8E667E99ADEF3050F620DED,1,0,0,127,0,0,NaN,1758,3110
5011437,NaN,717CD120296F4DBA9E01BC21A7225C70,2,0,2,74,0,243,NaN,1766,978
5011449,NaN,74DFBC854348312D6C5AA90A935025CB,16,3,2,729,83,52,NaN,2718,2622
5011474,FFC664607B21C35D74D3E94B55D81519,B4DA84204EA7E3C25E07E6DD1590D8EE,3,5,1,371,1527,72,True,1762,3376
5011496,NaN,152E670C25B062B42D37E343669E1FDA,15,6,12,1381,350,1037,NaN,1701,1701
5011523,NaN,0426A7F17EBE18D01DEBC40FCD2731A3,2,0,0,192,0,0,NaN,1543,2830
5011527,NaN,A3F3020A2B6E3F1959DD642D8413984A,12,0,8,643,0,849,NaN,3043,3043
5011554,NaN,84BB96A357A77B4B12D792E240E5412D,2,1,5,191,65,510,NaN,2612,3710
5011585,NaN,A72417FC0A94220C615B5D85B4D127E8,1,0,0,38,0,0,NaN,146,146
5011768,FFCAD9880EDCB96EA3F411F2F4DFE35F,5A5D0004CA30D258FC3912603879D754,12,9,8,622,284,369,True,1823,1823
5011808,FFCB9861281D71F5C808779ED664BA49,D838E4C839B969542E33A1B347CF83F6,1,2,0,105,109,0,True,2277,1866
5011815,NaN,E4E1D82C4D42534852CE58BA74C0AB0D,0,2,1,0,68,52,NaN,845,2092
5011870,FFCCE864B9353187BDDED27C0F3B0F09,F0FD0FDCB940DDFE361E33BC76750CDA,7,4,1,760,185,125,True,1079,402
5011895,NaN,190E5B18F133CC5B9B436E53B22AE711,0,0,1,0,0,14,NaN,865,3202
5011912,NaN,648B5D96E7655C58A463205746DE1B1C,1,0,0,326,0,0,NaN,865,1189
5011949,NaN,FEA5F1E17822F1A77057B3067F0EBCB3,0,0,1,0,0,123,NaN,865,200
5011992,FFCDF6B35A096AC7C5AC2CE8604A96C9,B87A41B72FE4BF22E7979E2BC7542191,1,1,4,11,42,107,True,629,629
5011997,NaN,C0169D2150F3CC98D8A68DB5B5045843,0,2,0,0,142,0,NaN,1252,3147
5012084,NaN,BDDFC8ED9D2E55095E317CF4566FB92F,1,0,2,111,0,57,NaN,1080,282
5012106,NaN,D52B4675360A3A8D08874FA32F26EC4C,0,1,4,0,139,199,NaN,3720,2287
5012191,NaN,CF0BCE78E0C0EA6204EDD6A3B66A6C23,0,1,0,0,41,0,NaN,865,3060
5012153,NaN,1409D318027E353B72A29F28B4D0F540,1,0,0,88,0,0,NaN,865,130
5012204,FFD079F6418C130EF01692265D4DDBDE,0D9BF470C66E274077B90049C2BA62FB,1,0,0,16,0,0,True,75,75
5012236,NaN,FF68396E305ECAF3BA1C8E622278B245,0,0,1,0,0,60,NaN,648,569
5012261,NaN,6BE6103506E651D2BAD21C7E86E65CBA,1,0,1,47,0,32,NaN,1301,1848
5012265,FFD17A091B31DD2B81ADA08FB1506892,165F6A57A566F241783B3959C78B5873,1,1,1,37,122,35,True,161,161
5012269,FFD18B298CDCD631131252CF95103C6B,23E4E04B6356380BBE39F49225BEEC5B,8,0,1,725,0,85,True,1831,1575
5012294,FFD1F287B955D4E04E04069A6A8039C6,3B3AF86EF77341B3FE36194C7A84C839,2,0,0,163,0,0,True,776,1929
5012304,FFD1F3DD9C71318E2BEB03786A6C68FC,9F5DD91305F085627E6FD0B71D8E49A6,0,1,0,0,74,0,True,519,709
5012360,NaN,5A1098873B6B0627B18DDC1E94C04C0A,1,0,0,30,0,0,NaN,1731,631
5012488,NaN,EC3674760988AB707A7A242E5DE6C96D,4,4,3,1176,1456,243,NaN,878,174
5012517,FFD4800C6F36F8991A5081F8147366F0,50F2A52E00AFC55815DD6110D39F9EF4,1,1,4,34,202,369,True,1289,1079
5012522,FFD4806960A42C55BB55D17A202441EF,E17BCA2F97FE248F60CC7EBD23504E7B,5,1,4,402,69,243,True,2414,2414
5012576,NaN,30999B8C3FECCC6F81E2ED5CFF86F84A,2,0,1,103,0,237,NaN,1770,491
5012650,NaN,988E1B09EE08E9DA6DCBD9848460F289,0,1,1,0,84,73,NaN,1685,1109
5012661,NaN,02FCBF73F03EF7A870ADB87ED059AC86,0,0,1,0,0,306,NaN,2950,1128
5012680,NaN,B7A54D99E30193A9B855A5F84A935EA5,0,0,1,0,0,56,NaN,3235,475
5012822,FFD92ABF27985F15C65922DFE3C38E92,B6A2FA51F94CE4D345AC0F7193AE4398,0,0,1,0,0,47,True,1400,1597
5012851,NaN,1B6F9B0D8AD7657AF73C91BBE49CCDF6,14,2,0,3999,137,0,NaN,2294,217
5012900,NaN,B5F491F11B0C7D03F5E027B0B47250D9,1,0,0,38,0,0,NaN,169,891
5012922,NaN,640823912F75A846CD3EF7DFD34CF4FB,0,1,0,0,47,0,NaN,275,2351

In [60]:
for name, subset  in grouped:
    #print(name == (True))
    print(name)
    print(type(subset))
    #if name == str(True):

False
<class 'pandas.core.frame.DataFrame'>
True
<class 'pandas.core.frame.DataFrame'>

In [45]:
new_cols =[col+"_EPI" for col in test.columns.values \
           if (col != 'EPIDEMIC' and not('Line' in col) and not('ANTENNA' in col) )]

for name, subset  in grouped:
    print(name)
    if name == True:
        for col in new_cols:
            subset[col]=0
            subset.drop('EPIDEMIC',inplace=True,axis=1)
            #paso el linekeyorigin a indice y dropeo esa columna
            subset.index = subset['LineKeyOrigin'].values
            subset.index.name = 'LineKeyOrigin'
            subset.drop('LineKeyOrigin',inplace=True,axis=1)

False


True

In [ ]:
def is_pure_nonepidemic_user(row,list_of_nonepidemic):
        return row['LineKeyOrigin'] in list_of_nonepidemic

## ojo el proximo llamado en memoria
Es medio peligroso porque copy hace una copia REAL de los datos y no una REFERENCIA

Con esto nos sacamos de encima el problema posterior del *SettingWithCopyWarning*

In [ ]:
start_time =time.time()
test =  table.sample(10**5)
test.sort_values(by='LineKeyOrigin',inplace=True)
(~test['EPIDEMIC'].isnull().values).all()
time.time() - start_time

In [172]:
#al conjunto de los que tienen epi==0 le saco los que tienen epi ==1 me quedo solo con usuarios "puros"
only_non_epidemic_users = list(set(test[test['EPIDEMIC']==0].LineKeyOrigin.values) - set(test[test['EPIDEMIC']==1].LineKeyOrigin.values))
#test 2 se lleva los usuarios mixtos y test3 los "puros" non_epi
test2 = test[~test['LineKeyOrigin'].isin(only_non_epidemic_users)].copy()
test3 = test[test['LineKeyOrigin'].isin(only_non_epidemic_users)].copy()

(3153494, 11)

#### esta corrida abajo tarda 6 mins para 180k users
4 mins para 40k users

80s para 40k users

In [ ]:
whos

In [198]:
test.head()

,ANTENNA_ID_0,ANTENNA_ID_0_Target,CallsWeekDaylight,CallsWeekDaylight_EPI,CallsWeekNight,CallsWeekNight_EPI,CallsWeekend,CallsWeekend_EPI,TimeWeekDaylight,TimeWeekDaylight_EPI,TimeWeekNight,TimeWeekNight_EPI,TimeWeekend,TimeWeekend_EPI
LineKeyOrigin,,,,,,,,,,,,,,
00000837B868F926F67BD440A0845C1D,1300,1300,1,0,2,0,3,0,47,0,74,0,109,0
00001ADC8C5705AB4FD8197B5024C1AA,1360,3051,7,0,5,0,4,0,744,0,207,0,218,0
00001C544BEBBB9109CE3552B4CDC490,3454,3079,0,0,1,0,0,0,0,0,36,0,0,0
00002AFB398A29AE5AA1729B78DE22EB,6996,3715,3,0,16,0,10,0,104,0,5811,0,1468,0
000049FDC90665F2A02CCD1F5FABD4D8,1056,2769,0,0,0,0,1,0,0,0,0,0,90,0

In [199]:
test.shape, test3.shape, test2.shape

((1927239, 14), (1215111, 14), (712128, 12))

In [ ]:
start_time = time.time()

new_cols =[col+"_EPI" for col in test.columns.values \
           if (col != 'EPIDEMIC' and not('Line' in col) and not('ANTENNA' in col) )]
#seteo todas las nuevas columnas en 0 y dropeo EPIDEMIC
only_non_epidemic_users = list(set(table[table['EPIDEMIC']==0].LineKeyOrigin.values) - set(table[table['EPIDEMIC']==1].LineKeyOrigin.values))

#test 2 se lleva los usuarios mixtos y test3 los "puros" non_epi
test2 = table[~table['LineKeyOrigin'].isin(only_non_epidemic_users)].copy()
test3 = table[table['LineKeyOrigin'].isin(only_non_epidemic_users)].copy()

for col in new_cols:
    test3[col]=0
    #test3.loc[test['LineKeyOrigin'].isin(only_non_epidemic_users),col]=0
test3.drop('EPIDEMIC',inplace=True,axis=1)
#paso el linekeyorigin a indice y dropeo esa columna
test3 = test3.groupby('LineKeyOrigin').sum()
# uso el agregador en el resto de los users
print("finished setting pure epidemic users, current time is {t} \n".\
              format(t=(time.time()-start_time))) 
test2 =test2.groupby('LineKeyOrigin').apply(get_epidemic_agregator)
#seteo bien el indice a LineKeyOrigin y dropeo el level 1 del multi
test2.reset_index(level=1,drop=True,inplace=True)
#finalmente concateno las dos tablas
test = pd.concat([test3,test2])

elapsed_time = time.time()-start_time
print("total algo time for {n} users is {t}".format(n=(len(test2)+len(test3)), t= elapsed_time))

### Sanity checking im not losing users in the algorithm

In [207]:
table.shape, test.shape, test2.shape,test3.shape

((5015519, 11), (1927239, 20), (712128, 12), (1215111, 20))

In [208]:
1927239== 712128 +1215111

True

In [231]:
print(table.shape)
print(table[~table['LineKeyOrigin'].isin(only_non_epidemic_users)].shape)
print(table[table['LineKeyOrigin'].isin(only_non_epidemic_users)].shape)

(5015519, 11)
(1862025, 11)
(3153494, 11)

1927239

In [228]:
table['LineKeyOrigin'].isin(only_non_epidemic_users).isnull()

Series([], Name: LineKeyOrigin, dtype: object)

In [222]:
null_rows= table[(table[relevant_cols].T ==0).all()].index
len(null_rows)

0

In [ ]:
non_epi_hashes =np.unique(table[~table['LineKeyOrigin'].isin(only_non_epidemic_users)].LineKeyOrigin.values)
epi_hashes = np.unique(table[table['LineKeyOrigin'].isin(only_non_epidemic_users)].LineKeyOrigin.values)
len(epi_hashes) + len(non_epi_hashes)

In [233]:
all_hashes =np.unique(table.LineKeyOrigin.values)
print len(all_hashes)
print len(epi_hashes) + len(non_epi_hashes)

1927239
1927239

In [219]:
hashes = np.unique(user_epidemic.index.values)
len(hashes)

3667451

## Results
Levantamos en sum_links 1927239 usuarios de la Telco que tienen al menos 1 interaccion con otro users de la misma TelCo
Sin embargo en la tabla de simple_format ya procesada, tengo 3667451 users de la Telco.
Lo que creo que esta sucediendo es que hay 1.5M de users que NO hablan con otro usuario de la telco.... Raro.

Habria que testear en simple_format de levantar de vuelta los useres pertinentes asi nos

### Sanity checking im not losing users
hicimos una comparacion de la tabl antes y despues de la ultima linea de codigo y da True en

len(np.unique(table.LineKeyOrigin.values)) == 640647

len(np.unique(test.index.levels[0].values)) == 640647

In [150]:
a.index

Int64Index([7], dtype='int64')

In [153]:
test2.head(7:14).apply(lambda x: x,axis=1)

SyntaxError: invalid syntax (<ipython-input-153-693557ea2e74>, line 1)

In [ ]:
## script para convertir las columnas de otros types --> ints

passes=5

#ver el tiempo que tarda
now = time.time()

#el chunk basicamente va leyendo el file de a 'chunksize' cantidad de filas
#subgroup = pd.DataFrame()

for group in range(passes):
    subgroup = pd.DataFrame()
    table = pd.read_csv(
            input_file,
            engine = 'c',
            chunksize = 5*10**7,
#            iterator =True,
            sep = ' ',
            header = None,
            index_col=None,
            names = ['Target','Destination','Direction','TimeStamp','Duration','AntennaID'],
            usecols = ['Target', 'AntennaID','TimeStamp'],
            dtype = {'Target':np.uint32,'Destination':np.uint32,'TimeStamp':np.uint32,
                                      'Duration':np.uint16,'AntennaID':np.uint16,'Direction':np.object_}
            )
    
    #cuando entramos a este loop, table tiene tantos 'chunks' como el valor entero de la cantidad de lineas en el file
    #dividido el tamanyo del chunksize
    for chunk in table:
            #a cada chunk filtro por todos los Targets que tengan resto group modulo passes. y trabajo sobre la tabla
            #subgroup nada mas que ahora tiene pocos usuarios
            chunk['Target_int'] = chunk[].map(users_dict)
            subgroup = subgroup.append(chunk[chunk['Target'] % passes == group])
    #
    #entonces la idea es que yo ahora solo voy a trabajar, dentro de la tabla
    
    #paso de segundos a horas
    #notar que timestamp arranca en 0 segundos para domingo 01/01/2012 00:00am 
    #con lo cual domingo es el dia 0, lunes el 1, asi..
    
    subgroup['Hour'] =  (subgroup['TimeStamp'].values*1.0/3600)%24
    subgroup['Day']  =  (subgroup['TimeStamp'].values*1.0/(3600*24))%7
    
    #filtro usuarios con pocos o demasiados llamados en general menos de 5 mensuales y mas de 400  
    insignificant_users = subgroup['Target'].value_counts()[(subgroup['Target'].value_counts() < 5) \
                        | (subgroup['Target'].value_counts() > 400)].index.values.tolist()
    subgroup= subgroup.loc[~subgroup['Target'].isin(insignificant_users)]
    
    
    #filtro segun nightfilter y week_end
    if night_filter == True:
        subgroup = subgroup.loc[(subroup['Hour']<8) | (subgroup['Hour']>18)]
    if week_end == True:
        subgroup = subgroup.loc[(subgroup['Day']==0) | (subgroup['Day']==6)]

    
    #   
        
    grouped = subgroup.groupby(['Target', 'AntennaID'])['AntennaID'].agg({'count': np.size})
    grouped.reset_index(inplace=True,drop=False)
    
    del subgroup
    #reordeno dentro de c/ target por el count del antenna, esto me sirve para despues ordenar las antenas por uso
    grouped.sort_values(by=['Target','count'],ascending=False,inplace=True)
    
    ##enriquezco la muestra con datos epidemicos
    #primero agrego a cada antenna del df el dato de si es epidemica
    #despues agrupo por el target y me fijo solo la columna epidemica en c/grupo
    #finalmente sumo en c/ grupo y tomo la parte superior 
#entera de esa division con el largo del grupo. Si uso al menos una antena epidemica entonces esta expuesto(==1) Si no,
# da 0 pues no estuvo expuesto.        
    ##enriquezco la muestra con datos epidemicos

    exposed_info =grouped.join(antennas['EPIDEMIC'], on='AntennaID').\
    groupby('Target')['EPIDEMIC'].\
        agg({'EXPOSED' : lambda x: int( np.ceil(np.sum(x)*1.0/np.size(x)) )}) 
    
    #actualizo la tabla
    grouped = grouped.join(exposed_info['EXPOSED'],on="Target")
    del exposed_info
    
    
    #creo la tabla filtrada solo por users, que es la que voy a terminar guardando (hay tantos rows como users)
    output_table = grouped.drop_duplicates(subset = 'Target', keep='first')
    #re indexo
    output_table.index = output_table['Target'].values
    
    #agrupo ahora la tabla por target para hacer todos los calculos en los grupos
    
    grouped = grouped.groupby('Target')  
    
    #aca voy a ir agregando las top 10 antennas utilizadas por el user, Si no llego a 10 antennas, relleno con NaNs
    for i in range(0,10):
        #me quedo con la i-esima fila de c/grupo (si no hay fila, no toma en cuenta ese Target)
        
        buffer_table = grouped.nth(i)[['AntennaID','count']]
        #renombre a iesima AntennaId e iesimo count
        buffer_table.columns=['AntennaID_%i'%i,'count_%i'%i]
        #agrego esta info como nuevas columnas, dejando lo demas como NaNs
        output_table = pd.concat([output_table, buffer_table], axis=1, join_axes=[output_table.index])
    
    del grouped
    #los primeros AntennaIDs ya no me sirven, idem con el primer
    output_table.drop('AntennaID', axis=1, inplace=True)
    output_table.drop('count', axis=1, inplace=True)
    
    #para los datos faltantes dentro del Top10, relleno con -1s, que vendrian a ser los NaNs
    output_table.fillna(-1,inplace=True)
    
    #ojo aca que en el caso que entren hashes entonces no los va a poder convertir
    output_table = output_table.astype(int,copy=False)
    
    #agrego info de EPIDEMIC, asumiendo a alguien como epidemico si al antenna donde vive (la AntennaID_0) 
    #esta catalogada como EPIDEMIC
    test_table =test_table.join(antennas['EPIDEMIC'], on='AntennaID_0')
    
    
    #print(output_table.columns)
    #print("la tabla es:\n") 
    #print(output_table.head(5))
    #print("\n")
    
    #print(output_table.dytpes)
    #pd.to_numeric(output_table['EXPOSED'])
    
    #for i in range(3,22):
    #    pd.to_numeric(output_table[output_table.columns[i]]) 
    #print(output_table.dytpes)
    
    
    
    
    #aca termino guardando el output final pero solo para esos usuarios % pass ==group
    output_table.to_csv(output_file, index = False, 
                   header = False, mode='a',compression='gzip')
then = now
seconds = time.time() - then
print("total running time of script is %d " % seconds)

In [ ]:
#para observar la distribucion de veces que un usuario llama en un mes.
tabla['Target'].value_counts()[(tabla['Target'].value_counts()>5) & (tabla['Target'].value_counts() < 500)].hist(bins=100)

In [ ]:
sample['Target'].value_counts()[(sample['Target'].value_counts()>5) & (sample['Target'].value_counts() < 500)].hist(bins=35)

In [ ]:
#con esto extraigo el mapping user --> antennas used that month
user_antenna = tabla.groupby('Target')['AntennaID'].apply(lambda x: x.tolist()).to_dict();
user_antenna2 = tabla.groupby('Target')['AntennaID'].apply(lambda x: x.tolist()).to_dict();

user_antenna_map_concat = defaultdict(list)

#Veo como concatenar dos "maps" distintos y dejando solo las antenas unicas..
for d in (user_antenna_map, user_antenna_map2): # podemos meter cuantos dicts queramos aca..
    for key, value in d.iteritems():
        #list(set()) elimina repetidos
        user_antenna_map_concat[key] = list(set(user_antenna_map_concat[key] + value))

In [ ]:
import subprocess
subprocess.call(" echo \"Hello World \" ",shell=True)

In [ ]:
os.listdir(os.getcwd())

In [ ]:
os.chdir(rootdir)
os.walk('.').next()[1]

In [ ]:
os.chdir(rootdir)
print "testdata" in os.listdir(os.getcwd()) 
if "testdata" in os.listdir(os.getcwd()):
    os.system("mkdir testdata")

In [ ]:
os.getcwd()

In [ ]:
os.listdir(os.getcwd())

In [ ]:
!ls